
.bg 
	@css {
		background: rgb(47,68,92);
		background: -moz-linear-gradient(top,  rgba(47,68,92,1) 0%, rgba(62,99,135,1) 51%, rgba(121,147,172,1) 91%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,68,92,1)), color-stop(51%,rgba(62,99,135,1)), color-stop(91%,rgba(121,147,172,1)));
		background: -webkit-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -o-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -ms-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: linear-gradient(to bottom,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f445c', endColorstr='#7993ac',GradientType=0 );
        }
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index -5

.calendar 
	color white
	height 100%
	left 0
	margin 0 auto
	position absolute 
	top 3em
	width 100%
	z-index 2

.dia
.numero
.mes
	color white
	display block
	line-height 1em
	position absolute
	z-index 4

.dia
	font-size 2em
	left 27%
	animation animacionDia 2.9s 1
	-webkit-animation animacionDia 2.9s 1

.eventActual
	border 1px solid white
	margin  15em .5em .5em .5em

.llistaVisible
	border 1px solid white
	margin .5em

.numero
	font-size 7.5em
	left 26%
	letter-spacing -15px
	top 35px
	animation animacionNumero 2.5s 1
	-webkit-animation animacionNumero 2.5s 1

.boto
	.menu
		background rgba(white,.15)
		border-radius 50%
		top 12px 
		color rgba(white,.3)
		height 38px
		line-height 2.4em
		position fixed
		right 12px
		font-size .8em
		text-align center
		width 38px
		z-index 7
		animation animacionBoto .5s 1
		-webkit-animation animacionBoto .5s 1
		&:after
			content '\e601'
			font-family icono

.mes
	left 23%
	font-size 2em
	top 180px
	animation animacionMes 2.7s 1
	-webkit-animation animacionMes 2.7s 1

.inici
	.boto
	.botoTrans
	.on
	.onTrans
	.off
	.offTrans
		display none

.botoOn
	.menu
		background rgba(black,.5)
		border-radius 50%
		top 12px 
		color rgba(white,.7)
		height 50px
		line-height 2.2em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 7
		animation animacionbotoOn .3s 1
		-webkit-animation animacionbotoOn .3s 1
		&:after
			content '\e601'
			font-family icono	
	.mapa
		background rgba(white,.7)
		border-radius 50%
		top 12px 
		color rgba(black,.7)
		height 50px
		line-height 2.1em
		position fixed
		left 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 3
		animation animacionMapa .2s 1
		-webkit-animation animacionMapa .2s 1
		&:after
			content '\e602'
			font-family icono
		&:hover
			background rgba(black,.5)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.aumentar
		background rgba(white,.7)
		border-radius 50%
		top 75px 
		color rgba(black,.7)
		height 50px
		line-height 1.9em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 4
		animation animacionAumentar .2s 1
		-webkit-animation animacionAumentar .2s 1
		&:after
			content 'a'
			font-size 1.4em
			font-weight 300
		&:hover
			background rgba(black,.5)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.disminuir
		background rgba(white,.7)
		border-radius 50%
		top 140px 
		color rgba(black,.7)
		height 50px
		line-height 1.7em
		position fixed
		right 12px
		font-size 1.3em
		text-align center
		width 50px
		z-index 2
		animation animacionDisminuir .25s 1
		-webkit-animation animacionDisminuir .25s 1
		&:after
			content 'a'
			font-size .75em
			font-weight 300
			text-align center
		&:hover
			background rgba(black,.5)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;

.botoOff
	.menu
		background rgba(black,.5)
		border-radius 50%
		top 12px 
		color rgba(white,.7)
		height 50px
		line-height 2.2em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 7
		animation animacionbotoOff .3s 1
		-webkit-animation animacionbotoOff .3s 1
		&:after
			content '\e601'
			font-family icono	
	.mapa
		background rgba(white,.7)
		border-radius 50%
		top 12px 
		color rgba(black,.7)
		height 50px
		line-height 2.1em
		position fixed
		left 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 3
		animation animacionMapaOff .2s 1
		-webkit-animation animacionMapaOff .2s 1
		&:after
			content '\e602'
			font-family icono
		&:hover
			background rgba(black,.5)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.aumentar
		background rgba(white,.7)
		border-radius 50%
		top 75px 
		color rgba(black,.7)
		height 50px
		line-height 1.9em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 4
		animation animacionAumentarOff .2s 1
		-webkit-animation animacionAumentarOff .2s 1
		&:after
			content 'a'
			font-size 1.4em
			font-weight 300
		&:hover
			background rgba(black,.5)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.disminuir
		background rgba(white,.7)
		border-radius 50%
		top 140px 
		color rgba(black,.7)
		height 50px
		line-height 1.7em
		position fixed
		right 12px
		font-size 1.3em
		text-align center
		width 50px
		z-index 2
		animation animacionDisminuirOff .25s 1
		-webkit-animation animacionDisminuirOff .25s 1
		&:after
			content 'a'
			font-size .75em
			font-weight 300
			text-align center
		&:hover
			background rgba(black,.5)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;

.PROVA COMIDN
	.menu
		background rgba(black,.7)
		border-radius 50%
		bottom 25px 
		color rgba(white,.7)
		height 50px
		line-height 2.2em
		position fixed
		right 25px
		font-size 1.2em
		text-align center
		width 50px
		z-index 7
		animation animacionOn 0s 1
		-webkit-animation animacionOn 0s 1
		&:after
			content '\e601'
			font-family icono
	.mapa
		background rgba(white,.7)
		border-radius 50%
		bottom 25px 
		color rgba(black,.7)
		height 50px
		line-height 2.1em
		position fixed
		left 25px
		font-size 1.2em
		text-align center
		width 50px
		z-index 3
		animation animacionMapa .2s 1
		-webkit-animation animacionMapa .2s 1
		&:after
			content '\e602'
			font-family icono
		&:hover
			background rgba(black,.7)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.aumentar
		background rgba(white,.7)
		border-radius 50%
		bottom 90px 
		color rgba(black,.7)
		height 50px
		line-height 1.9em
		position fixed
		right 25px
		font-size 1.2em
		text-align center
		width 50px
		z-index 4
		animation animacionAumentar .2s 1
		-webkit-animation animacionAumentar .2s 1
		&:after
			content 'a'
			font-size 1.4em
			font-weight 300
		&:hover
			background rgba(black,.7)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.disminuir
		background rgba(white,.7)
		border-radius 50%
		bottom 155px 
		color rgba(black,.7)
		height 50px
		line-height 1.7em
		position fixed
		right 25px
		font-size 1.3em
		text-align center
		width 50px
		z-index 2
		animation animacionDisminuar .25s 1
		-webkit-animation animacionDisminuar .25s 1
		&:after
			content 'a'
			font-size .75em
			font-weight 300
			text-align center
		&:hover
			background rgba(black,.7)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;

@keyframes animacionAumentar 
	0% 
		top 12px
		opacity 0
	100% 
		bottom 75px
		opacity 1

@keyframes animacionAumentarOff
	0% 
		bottom 75px
		opacity 1
	100% 
		top 12px
		opacity 0

@keyframes animacionDisminuir
	0% 
		top 12px
		opacity 0
	100% 
		bottom 75px
		opacity 1

@keyframes animacionDisminuirOff
	0% 
		bottom 75px
		opacity 1
	100% 
		top 12px
		opacity 0

@keyframes animacionBoto 
	0% 
		opacity 0
	100% 
		opacity 1

@keyframes animacionbotoOn 
	0% 
		background rgba(white,.15)
		color rgba(white,.3)
		font-size .8em
		height 38px
		line-height 2.4em
		width 38px
	100% 
		background rgba(black,.5)
		color rgba(white,.7)
		height 50px
		line-height 2.2em
		right 12px
		font-size 1.2em
		width 50px

@keyframes animacionbotoOff
	0% 	
		background rgba(black,.5)
		color rgba(white,.7)
		height 50px
		line-height 2.2em
		right 12px
		font-size 1.2em
		width 50px
	100% 
		background rgba(white,.15)
		color rgba(white,.3)
		font-size .8em
		height 38px
		line-height 2.4em
		width 38px

@keyframes animacionMapa 
	0% 
		left 180px
		opacity 0
	100% 
		left 12px
		opacity 1

@keyframes animacionMapaOff
	0% 
		left 12px
		opacity 1
	100% 
		left 180px
		opacity 0
		 
		
		










