
section
	margin 0 0 100px 0
	position absolute
	z-index 0
	.event
		margin 0 .5em 1.8em 2em
		.detall
			border-bottom 3px solid rgba(white,.5)
			padding 0 0 .2em .25em
			.hora
				float left
				width 100px
				color white
				display inline-block
				float left
				font-size .65em
				font-weight 300
				margin -1px 10px 0 -5px
				.horaInici
					float left
				.horaFi
					margin 0 0 0 40px
					p
						&:after
							content 'h'
						&:before
							content '- '
			.lloc
				color rgba(white,.5)
				font-size .6em
				font-weight 300
				letter-spacing .20em
				text-transform uppercase
				p
					&:after
						content '\e608'
						font-family icono
		.contingut
			margin 1em 0 0 0 
			.titolEvent
				color rgba(white,.9)
				font-size .9em
				font-weight 400
				margin -.7em 1.8em .7em 0
				position relative
				p
					&:after
						content '\e600'
						font-family icono
						font-size 1em
						position absolute 
						right -35px
						top 0px
			.detallEvent
				font-size .8em
				font-weight 300
				margin 1em -1em 0em 2em
				p
					&:after
						display none

.bg 
	@css {
		background: rgb(47,68,92);
		background: -moz-linear-gradient(top,  rgba(47,68,92,1) 0%, rgba(62,99,135,1) 51%, rgba(121,147,172,1) 91%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,68,92,1)), color-stop(51%,rgba(62,99,135,1)), color-stop(91%,rgba(121,147,172,1)));
		background: -webkit-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -o-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -ms-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: linear-gradient(to bottom,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f445c', endColorstr='#7993ac',GradientType=0 );
        }
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index -5

.calendari
	// background rgba(#3a5b7d,.3)
	bottom 0px
	color white
	display block
	height auto
	left 0px
	margin 0 0 1em 0
	padding 0 0 2em 0
	position relative
	right 0px
	top 0px
	.botonera
		height auto
		left 0px 
		padding 0 0 .5em 0
		overflow-x auto
		overflow-y hidden
		position absolute
		top 175px
		white-space nowrap
		width 100%
		.dia 
			background none
			border 1px solid rgba(rosa,1)
			border-radius 50%
			display inline-block
			height 65px 
			margin 0 0 0 1em 
			position relative
			width 65px
			&:first-child
				margin 0 0 0 -3em
			&:last-child
				margin 0 6em 0 1em
			p
				left 32%
				font-weight 300
				margin 0
				position absolute
				top 7px
			.centrar
				left 40%
				position absolute
			.centrarMes
				left 27%
				position absolute
			span
				color rgba(black,.3)
				left 20%
				letter-spacing 0em
				font-size .85em
				font-weight 400
				position absolute
				top 30px
	.circuloBg1
		background #50D1C7
		border-radius 50%
		height 130px
		left 40px
		position absolute
		top 40px
		width 130px 	
		z-index 0
		-webkit-filter blur(2px) opacity(0.8)
		animation animacionBg1 20s 
		-webkit-animation animacionBg1 20s 
	.circuloBg2
		background #678fb7
		border-radius 50%
		height 60px
		left 220px
		position absolute
		top 30px
		width 60px 	
		z-index 0
		-webkit-filter blur(4px) opacity(0.8)
		animation animacionBg2 30s 1
		-webkit-animation animacionBg2 30s 1
	.circuloCalendari
		background rosa
		border-radius 50%
		height 150px
		left 29%
		position relative
		top 1em
		width 150px 
		z-index 5
		animation animacionCalendari 20s 
		-webkit-animation animacionCalendari 20s 
.dia
	position absolute
	top .7em
	left 30%
	font-size 1em
	font-weight 300
	animation animacionDia 3s 1
	-webkit-animation animacionDia 3s 1

.eventActual
	background rgba(iconos,.3)
	color white
	font-size .9em
	font-weight 100
	height auto
	margin 8em 0 -2.2em 0
	padding .5em 1em
	.contingutEventActual
		.event
			border-left 1px solid rgba(white,.1)
			color rgba(white,1)
			letter-spacing .055em
			line-height 1.2em
			font-size .9em
			font-weight 300
			margin 0 0 0 100px
			padding 0 0 0 15px
			.lloc
				color rgba(white,.5)
				font-size .7em
				letter-spacing .13em
				margin .5em 0 0 0 
				text-transform uppercase
				p
					&:after
						content '\e608'
						font-family icono
		.hora
			color white
			display inline-block
			float left
			font-size .73em
			font-weight 400
			margin 2px 0 0 -5px
			width 100px
			.horaInici
				float left
			.horaFi
				margin 0 0 0 40px
				p
					&:after
						content 'h'
					&:before
						content '- '
	.titol
		color rgba(iconos,.8)
		font-size .8em
		font-weight 300
		left 20px
		position absolute
		text-transform uppercase
		top 273px

.footerApp
	background rgba(white,.3)
	bottom 0px
	position absolute
	width 100%
	p
		color iconos
		font-weight 300
		padding .5em 0 
		text-align center

.llistaInVisible
	display none
.llistaVisible
	animation animacionLlista 3s 1
	-webkit-animation animacionLlista 3s 1

.numero
	font-size 4em
	left 35%
	position absolute
	bottom .4em
	animation animacionNumero 3s 1
	-webkit-animation animacionNumero 3s 1

.boto
	.menu
		background rgba(black,.05)
		border-radius 50%
		top 12px 
		color rgba(white,.5)
		height 50px
		line-height 2.2em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 7
		animation animacionBoto .2s 1
		-webkit-animation animacionBoto .2s 1
		&:after
			content '\e601'
			font-family icono

.mes
	font-size 1em
	font-weight 300
	left 33%
	position absolute
	top 5.4em
	animation animacionMes 3s 1
	-webkit-animation animacionMes 3s 1

.inici
	.boto
	.botoTrans
	.on
	.onTrans
	.off
	.offTrans
		display none

.botoOn
	.menu
		background rgba(black,.05)
		border-radius 50%
		top 12px 
		color rgba(white,.5)
		height 50px
		line-height 2.2em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 7
		&:after
			content '\e601'
			font-family icono	
	.mapa
		background rgba(white,.7)
		border-radius 50%
		top 12px 
		color rgba(black,.7)
		height 50px
		line-height 2.1em
		position fixed
		left 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 3
		animation animacionMapa .4s 1
		-webkit-animation animacionMapa .4s 1
		&:after
			content '\e602'
			font-family icono
		&:hover
			background rgba(black,.2)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.aumentar
		background rgba(white,.7)
		border-radius 50%
		top 75px 
		color rgba(black,.7)
		height 50px
		line-height 1.9em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 4
		animation animacionAumentar .4s 1
		-webkit-animation animacionAumentar .4s 1
		&:after
			content 'a'
			font-size 1.4em
			font-weight 300
		&:hover
			background rgba(black,.2)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.disminuir
		background rgba(white,.7)
		border-radius 50%
		top 140px 
		color rgba(black,.7)
		height 50px
		line-height 1.9em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 4
		animation animacionDisminuir .4s 1
		-webkit-animation animacionDisminuir .4s 1
		&:after
			content 'a'
			font-size .9em
			font-weight 300
		&:hover
			background rgba(black,.2)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;

@keyframes animacionAumentar 
	0% 
		top 12px
		opacity 0
	100% 
		bottom 75px
		opacity 1

@keyframes animacionBg1 
	0% 
		opacity 0
		-webkit-filter blur(2px)
	50%
		opacity 1
	75%
		opacity .4
		-webkit-filter blur(6px)
	100% 
		opacity 1

@keyframes animacionBg2 
	0% 
		opacity 0
	50%
		opacity .7
	75%
		opacity .5
	100% 
		opacity 1

@keyframes animacionCalendari 
	0% 
		opacity 1
	50%
		opacity .8
	75%
		opacity .9
	100% 
		opacity 1

@keyframes animacionDia 
	0% 
		opacity 0
	50%
		opacity 1
	75%
		opacity 1
	100% 
		opacity 1

@keyframes animacionDisminuir
	0% 
		top 12px
		opacity 0
	100% 
		bottom 75px
		opacity 1

@keyframes animacionBoto 
	0% 
		opacity 0
	100% 
		opacity 1

@keyframes animacionLlista
	0% 
		opacity 0
	100% 
		opacity 1

@keyframes animacionNumero 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 1
	100% 
		opacity 1

@keyframes animacionMapa 
	0% 
		left 180px
		opacity 0
	100% 
		left 12px
		opacity 1

@keyframes animacionMes 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 0
	100% 
		opacity 1


		 
		
		










