
header
	.botonera
		height auto
		left 0px 
		overflow-x auto
		overflow-y hidden
		position absolute
		top 230px
		white-space nowrap
		width 100%

		.dia 
			background none
			border 1px solid rgba(white,1)
			border-radius 50%
			color white
			display inline-block
			height 65px 
			margin 0 0 0 1em 
			position relative
			width 65px
			&:first-child
				margin 0 0 0 1.5em
			&:last-child
				margin 0 1em 0 1em
			p
				left 32%
				font-weight 300
				margin 0
				position absolute
				top 7px
			.centrar
				left 40%
				position absolute
			.centrarMes
				left 27%
				position absolute
			span
				color rgba(white,1)
				left 20%
				letter-spacing 0em
				font-size .85em
				font-weight 300
				position absolute
				top 30px
	.calendari
		color white
		display block
		height 350px
		margin 0 auto
		padding 3em 0 0 0 
		position relative
		width 150px
		.dia
			font-size 1em
			font-weight 300
			text-align center
			text-shadow 0 1px 3px rgba(black,.35)
			animation animacionDia 3s 1
			-webkit-animation animacionDia 3s 1
		.numero
			font-size 4em
			font-weight 100
			margin -.1em 0
			text-align center
			text-shadow 0 1px 3px rgba(black,.35)
			animation animacionNumero 3s 1
			-webkit-animation animacionNumero 3s 1
		.mes
			font-size 1em
			font-weight 300
			text-align center
			text-shadow 0 1px 3px rgba(black,.35)
			animation animacionMes 3s 1
			-webkit-animation animacionMes 3s 1
	.eventActual
		background rgba(white,.08)
		border-top 1px solid rgba(white,.2)
		border-bottom 1px solid rgba(white,.2)
		color white
		font-size .9em
		font-weight 100
		height auto
		margin 0 0 1em 0
		padding .7em 1em 1.2em 1em
		.contingutEventActual
			animation animacionLlista 3s 1
			-webkit-animation animacionLlista 3s 1
			.event
				border-left 1px solid rgba(white,.1)
				color rgba(white,1)
				letter-spacing .055em
				line-height 1.2em
				font-size .9em
				font-weight 400
				margin 0 0 0 100px
				padding 0 0 0 15px
				.lloc
					color rgba(white,.5)
					font-size .7em
					letter-spacing .13em
					margin .5em 0 0 0 
					text-transform uppercase
					p
						&:after
							content '\e608'
							font-family icono
			.hora
				color white
				display inline-block
				float left
				font-size .73em
				font-weight 400
				margin 2px 0 0 -5px
				width 100px
				.horaInici
					float left
				.horaFi
					margin 0 0 0 40px
					p
						&:after
							content 'h'
						&:before
							content '- '
		.titol
			color rgba(white,1)
			font-size .8em
			font-weight 400
			left 12px
			position absolute
			text-transform uppercase
			top 327px

section
	margin 0 0 100px 0
	position absolute
	z-index 0
	.llistaVisible
		animation animacionLlista 3s 1
		-webkit-animation animacionLlista 3s 1
		.event
			margin 0 .5em 1.8em 2em
			.detall
				border-bottom 3px solid rgba(white,1)
				padding 0 0 .2em .25em
				.hora
					float left
					width 100%
					color white
					display block
					float left
					font-size .65em
					font-weight 300
					margin -1px 10px 0 -5px
					.horaInici
						float left
					.horaFi
						margin 0 0 0 40px
						p
							&:after
								content 'h'
							&:before
								content '- '
				.lloc
					color rgba(black,.4)
					font-size .6em
					font-weight 300
					letter-spacing .20em
					text-transform uppercase
					p
						&:after
							content '\e608'
							font-family icono
			.contingut
				margin 1em 0 0 0 
				.titolEvent
					color rgba(white,1)
					font-size .9em
					font-weight 400
					margin -.7em 1.8em .7em .1em
					position relative
					p
						&:after
							content '\e600'
							font-family icono
							font-size 1.5em
							position absolute 
							right -33px
							top 0px
				.detallEvent
					font-size .8em
					font-weight 300
					margin 1em -1em 0em 2em
					p
						&:after
							display none
	.llistaInvisible
		display none

.bg 
	@css {
		background: rgb(55,145,189);
		background: -moz-linear-gradient(top,  rgba(55,145,189,1) 37%, rgba(89,161,198,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,rgba(55,145,189,1)), color-stop(100%,rgba(89,161,198,1)));
		background: -webkit-linear-gradient(top,  rgba(55,145,189,1) 37%,rgba(89,161,198,1) 100%);
		background: -o-linear-gradient(top,  rgba(55,145,189,1) 37%,rgba(89,161,198,1) 100%);
		background: -ms-linear-gradient(top,  rgba(55,145,189,1) 37%,rgba(89,161,198,1) 100%);
		background: linear-gradient(to bottom,  rgba(55,145,189,1) 37%,rgba(89,161,198,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3791bd', endColorstr='#59a1c6',GradientType=0 );
        }
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index -20

.boto
	.facebook
	.twitter
		display none
	.menu
		background rgba(black,.05)
		border-radius 50%
		top 12px 
		color rgba(white,.5)
		height 50px
		line-height 2.2em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 7
		animation animacionBoto .2s 1
		-webkit-animation animacionBoto .2s 1
		&:after
			content '\e603'
			font-family icono
			font-size 1.3em

.efectos
	.destellos
		.destelloA
			position relative
			animation animacionDestelloA 14s infinite
			-webkit-animation animacionDestelloA 14s infinite
			.destelloA1
				background rgba(white,.1)
				border-radius 50%
				height 50px
				left 20px
				position absolute
				width 50px
				animation animacionDestelloA1 20s infinite
				-webkit-animation animacionDestelloA1 20s infinite
			.destelloA2
				background rgba(white,.1)
				border-radius 50%
				height 20px
				left 35px
				position absolute
				width 20px
				animation animacionDestelloA2 18s infinite
				-webkit-animation animacionDestelloA2 18s infinite
	// 	.desdelloB
	// 		.destelloB1
	// 		.destelloB2
	.nubes
		// border 1px solid
		height 250px
		width 100%
		overflow-x hidden
		position absolute
		.nube1
			background-image url(../img/nube1.png)
			background-size 275px auto
			height 188px
			position absolute
			right -10%
			top 70px
			width 275px
			z-index -3
			animation animacionNube1 10s 1
			-webkit-animation animacionNube1 10s 1
		.nube2
			background-image url(../img/nube2.png)
			background-size 158px auto
			height 115px
			left 0%
			position absolute
			width 158px
			z-index -3
			animation animacionNube2 12s 1
			-webkit-animation animacionNube2 12s 1

	.rayos
		.aro1
			border 3px solid rgba(#ff8cee,1)
			border-radius 50%
			height 200px
			left -88px
			position absolute
			top -72px
			width 200px 	
			animation animacionAro1 6s infinite
			-webkit-animation animacionAro1 6s infinite
		.rayo1 
			border-top 5px solid transparent
			border-bottom 5px solid transparent
			border-left 400px solid white
			border-right 0px solid transparent
			left -100px
			position absolute
			top 100px
			z-index -5
			transform rotateZ(43deg)
			-ms-transform rotateZ(43deg)
			-webkit-transform rotateZ(43deg)
			-webkit-filter: blur(3px);
			animation animacionRayo1 3s infinite
			-webkit-animation animacionRayo1 3s infinite
		.rayo2 
			border-top 3px solid transparent
			border-bottom 3px solid transparent
			border-left 250px solid white
			border-right 0px solid transparent
			left -100px
			position absolute
			top 100px
			z-index -5
			transform rotateZ(75deg)
			-ms-transform rotateZ(75deg)
			-webkit-transform rotateZ(75deg)
			-webkit-filter: blur(3px);
			animation animacionRayo2 10s infinite
			-webkit-animation animacionRayo2 10s infinite
		.rayo3 
			border-top 3px solid transparent
			border-bottom 3px solid transparent
			border-left 220px solid white
			border-right 0px solid transparent
			left 0px
			position absolute
			top 25px
			z-index -5
			transform rotateZ(3deg)
			-ms-transform rotateZ(3deg)
			-webkit-transform rotateZ(3deg)
			-webkit-filter: blur(3px);
			animation animacionRayo3 10s infinite
			-webkit-animation animacionRayo3 10s infinite
		.rayo4
			border-top 10px solid transparent
			border-bottom 10px solid transparent
			border-left 600px solid white
			border-right 0px solid transparent
			left -150px
			position absolute
			top 300px
			z-index -5
			transform rotateZ(240deg)
			-ms-transform rotateZ(240deg)
			-webkit-transform rotateZ(240deg)
			-webkit-filter: blur(3px);
			animation animacionRayo4 5s infinite
			-webkit-animation animacionRayo4 5s infinite
		.rayo5
			border-top 10px solid transparent
			border-bottom 20px solid transparent
			border-left 1200px solid white
			border-right 0px solid transparent
			left -540px
			position absolute
			top 300px
			z-index -5
			transform rotateZ(260deg)
			-ms-transform rotateZ(260deg)
			-webkit-transform rotateZ(260deg)
			-webkit-filter: blur(6px);
			animation animacionRayo5 8s infinite
			-webkit-animation animacionRayo5 8s infinite
		.rayo6
			border-top 10px solid transparent
			border-bottom 3px solid transparent
			border-left 700px solid white
			border-right 0px solid transparent
			left -220px
			position absolute
			top 350px
			z-index -5
			transform rotateZ(250deg)
			-ms-transform rotateZ(250deg)
			-webkit-transform rotateZ(250deg)
			-webkit-filter: blur(4px);
			animation animacionRayo6 15s infinite
			-webkit-animation animacionRayo6 15s infinite
	.sol
		background-image url(../img/sol.png)
		background-size 350px auto
		height 350px
		left -150px
		position absolute
		top -150px
		width 350px
		z-index -4


.inici
	.boto
	.botoTrans
	.facebook
	.off
	.offTrans
	.on
	.onTrans
	.twitter
		display none

.botoOn
	background rgba(black,.5)
	position fixed
	width 100%
	height 100%
	z-index 3
	animation animacionBoto .4s 1
	-webkit-animation animacionBoto .4s 1
	.aumentar
		background rgba(#1877e9,1)
		border-radius 50%
		top 75px 
		color rgba(#deecfb,1)
		height 50px
		line-height 1.75em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 4
		animation animacionAumentar .4s 1
		-webkit-animation animacionAumentar .4s 1
		&:after
			content 'a'
			font-size 1.4em
			font-weight 300
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.contraste
		background rgba(#1877e9,1)
		border-radius 50%
		top 205px 
		color rgba(#deecfb,1)
		height 50px
		line-height 2.1em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 4
		animation animacionAumentar .4s 1
		-webkit-animation animacionAumentar .4s 1
		&:after
			content '\e601'
			font-family icono
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.disminuir
		background rgba(#1877e9,1)
		border-radius 50%
		top 140px 
		color rgba(#deecfb,1)
		height 50px
		line-height 1.85em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 4
		animation animacionDisminuir .4s 1
		-webkit-animation animacionDisminuir .4s 1
		&:after
			content 'a'
			font-size .9em
			font-weight 300
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.mapa
		background rgba(#8f8f8f,1)
		border-radius 50%
		top 12px 
		color rgba(white,1)
		height 50px
		line-height 2.1em
		position fixed
		left 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 3
		animation animacionMapa .4s 1
		-webkit-animation animacionMapa .4s 1
		&:before
			content '\e602'
			font-family icono
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.menu
		background rgba(black,.1)
		border-radius 50%
		top 12px 
		color rgba(white,.5)
		height 50px
		line-height 2.2em
		position fixed
		right 12px
		font-size 1.2em
		text-align center
		width 50px
		z-index 7
		transform rotateZ(45deg)
		-ms-transform rotateZ(45deg)
		-webkit-transform rotateZ(45deg)
		&:after
			content '\e603'
			font-family icono
			font-size 1.3em
	.social
		.facebook
			background rgba(#8f8f8f,.8)
			bottom 0px 
			display block
			height 80px
			left 0px
			padding 1.5em 0 0 1em
			position fixed
			width 100%
			z-index 4
		.twitter
			bottom 25px 
			right 0px
			position fixed
			z-index 4

@keyframes animacionDestelloA 
	0% 
		transform rotateZ(-45deg)
		-ms-transform rotateZ(-45deg)
		-webkit-transform rotateZ(-45deg)
	25% 
		
	50%
		transform rotateZ(-40deg)
		-ms-transform rotateZ(-40deg)
		-webkit-transform rotateZ(-40deg)

	75%


	100% 
		transform rotateZ(-45deg)
		-ms-transform rotateZ(-45deg)
		-webkit-transform rotateZ(-45deg)


@keyframes animacionDestelloA1 
	0% 
		opacity 0
		top 30px
	25% 
		opacity 1
		top 100%
	100% 
		opacity 0
		top 300px

@keyframes animacionDestelloA2 
	0% 
		opacity 0
		top 30px
	25% 
		opacity 1
		top 100%
	100% 
		opacity 0
		top 300px

@keyframes animacionAro1 
	0% 
		opacity 0
	25% 
		opacity 0
	50%
		opacity .1
	75%
		opacity 0
	100% 
		opacity 0

@keyframes animacionRayo1 
	0% 
		opacity 0
	25% 
		opacity 0
	50%
		opacity .2
	75%
		opacity .1
	100% 
		opacity 0

@keyframes animacionRayo2
	0% 
		opacity .15
	25% 
		opacity 0
	50%
		opacity 0
	75%
		opacity .1
	100% 
		opacity .15

@keyframes animacionRayo3 
	0% 
		opacity .3
	25% 
		opacity .2
	50%
		opacity 0
	75%
		opacity .1
	100% 
		opacity .3

@keyframes animacionRayo4 
	0% 
		opacity 0
	25% 
		opacity 0
	50%
		opacity 0
	75%
		opacity .05
	100% 
		opacity 0

@keyframes animacionRayo5
	0% 
		opacity 0
	25% 
		opacity 0.01
	50%
		opacity 0
	75%
		opacity .05
	100% 
		opacity 0

@keyframes animacionRayo6 
	0% 
		opacity 0
	25% 
		opacity 0
	50%
		opacity .05
	75%
		opacity .02
	100% 
		opacity 0

@keyframes animacionAumentar 
	0% 
		top 12px
		opacity 0
	100% 
		bottom 75px
		opacity 1

@keyframes animacionBg1 
	0% 
		opacity 0
		-webkit-filter blur(2px)
	50%
		opacity .2
		top 65px
	75%
		opacity .3
		-webkit-filter blur(1px)
	100% 
		opacity 0
		-webkit-filter blur(2px)

@keyframes animacionBg2 
	0% 
		opacity 0
		-webkit-filter blur(2px)
	50%
		opacity .7
		top 20px
	75%
		opacity .5
		top 90px
	100% 
		opacity 0
		-webkit-filter blur(2px)

@keyframes animacionBg3
	0% 
		opacity 0
		-webkit-filter blur(6px)
	50%
		opacity .5
		top 30px
	75%
		opacity .2
		-webkit-filter blur(2px)
		top 80px
	100% 
		opacity 0
		-webkit-filter blur(6px)

@keyframes animacionBg4
	0% 
		opacity 0
		-webkit-filter blur(2px)
	50%
		opacity .5
	75%
		opacity .4
		-webkit-filter blur(6px)
		top 190px
	100% 
		opacity 0
		-webkit-filter blur(2px)

@keyframes animacionCalendari 
	0% 
		opacity 1
	50%
		opacity .9
	75%
		opacity .8
	100% 
		opacity 1

@keyframes animacionDia 
	0% 
		opacity 0
	50%
		opacity 1
	75%
		opacity 1
	100% 
		opacity 1

@keyframes animacionDisminuir
	0% 
		top 12px
		opacity 0
	100% 
		bottom 75px
		opacity 1

@keyframes animacionBoto 
	0% 
		opacity 0
	100% 
		opacity 1

@keyframes animacionLlista
	0% 
		opacity 0
	100% 
		opacity 1

@keyframes animacionNumero 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 1
	100% 
		opacity 1

@keyframes animacionNube1
	0% 
		opacity 0
	50%
		opacity 1
	75%
		opacity 1
	100% 
		opacity 1

@keyframes animacionNube2
	0% 
		opacity 0
	50%
		opacity 1
	75%
		opacity 1
	100% 
		opacity 1

@keyframes animacionMapa 
	0% 
		left 180px
		opacity 0
	100% 
		left 12px
		opacity 1

@keyframes animacionMes 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 0
	100% 
		opacity 1
		
		










