
section
	.llistaVisible
		display block
		margin 0 auto
		max-width 580px
.bgHeader
	.montsia
		background-size 100% 300px
		height 380px
		top 130px
.efectos
	.nit
		.estrellas
			.moverConstelacion
				.constelacion
					background-size 1100px auto
					height 900px
					left -50px
					top -150px
					width 1100px
.menu
	max-width 550px