
section
	.llistaVisible
		display block
		margin 0 auto
		max-width 580px
.bgHeader
	.montsia
		background-size 100% 300px
		height 380px
		top 130px
.efectos
	.nit
		.estrellas
			height 445px
			left 0 
			position relative
			right 0
			top 0
			z-index 1
			.moverConstelacion
				height 445px
				overflow-x auto
				overflow-y hidden
				position relative
				z-index 1
				.constelacion
					background-image url(../img/estrellas.png)
					background-repeat no-repeat
					background-size 1100px auto
					height 900px
					left -50px
					position absolute
					top -150px
					width 1100px
					opacity 1
					-webkit-filter brightness(1.8)
					animation animacionConstelacion 320s infinite
					-webkit-animation animacionConstelacion 320s infinite
.menu
	max-width 550px