
section
	.llistaVisible
		display block
		margin 0 auto
		max-width 680px
.bgHeader
	.montsia
		background-size 100% 380px
		height 380px
		top 60px
.efectos
	.nit
		.estrellas
			height 445px
			left 0 
			position relative
			right 0
			top 0
			z-index 1
			.moverConstelacion
				height 445px
				overflow-x auto
				overflow-y hidden
				position relative
				z-index 1
				.constelacion
					background-image url(../img/estrellas.png)
					background-repeat no-repeat
					background-size 1100px auto
					height 900px
					left 100px
					position absolute
					top -150px
					width 1100px
					opacity 1
					-webkit-filter brightness(1.8)
					animation animacionConstelacion 320s infinite
					-webkit-animation animacionConstelacion 320s infinite
.menu
	background none
	position relative 
	z-index 4
	animation animacion 1.2s 1
	-webkit-animation animacion 1.2s 1
	.botones
		.botonMenu
			a
				text-decoration none
			.compartir
			.menuResizer
				display none
			.mapa
				background cielo
				border-radius 50%
				bottom 20px
				color rgba(#283148,1)
				font-size 1.15em
				height 50px
				line-height 2.15em
				position fixed
				right 20px
				text-align center
				width 50px
				&:after
					content '\e606'
					font-family icono
					font-size .9em
				&:active
					color rgba(white,.3)
	.resizer
		display none
	.social
		background none
		border-radius 4px
		border-top none
		bottom 10px
		display block
		height 120px
		left 10px 
		position fixed
		width 200px
		.botonSocial
			.facebook
				background none
				left 20px
				position relative
				top 20px
				width 100px
			.twitter
				left -110px
				position relative
				top 60px
@keyframes animacion
	0%
		opacity 0
	100%
		opacity 1
