
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 2 : /Users/jordiimac/Documents/AniMenu/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/reset\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/AniMenu/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/reset\.styl}line{font-family:\000032}}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* line 14 : /Users/jordiimac/Documents/AniMenu/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/reset\.styl}line{font-family:\0000314}}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}

/* line 18 : /Users/jordiimac/Documents/AniMenu/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/reset\.styl}line{font-family:\0000318}}
pre{white-space:pre-wrap}

/* line 17 : /Users/jordiimac/Documents/AniMenu/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/estilos\.styl}line{font-family:\0000317}}
@font-face{font-family:'icono';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}

/* line 38 : /Users/jordiimac/Documents/AniMenu/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/estilos\.styl}line{font-family:\0000338}}
body{width:100%;height:100%;font-family:lato;font-size:20px;font-weight:100}

/* line 54 : /Users/jordiimac/Documents/AniMenu/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/estilos\.styl}line{font-family:\0000354}}
@media screen and (max-width: 769px){
/* line 2 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\000032}}
.bg{background: rgb(47,68,92);
		background: -moz-linear-gradient(top,  rgba(47,68,92,1) 0%, rgba(62,99,135,1) 51%, rgba(121,147,172,1) 91%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,68,92,1)), color-stop(51%,rgba(62,99,135,1)), color-stop(91%,rgba(121,147,172,1)));
		background: -webkit-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -o-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -ms-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: linear-gradient(to bottom,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f445c', endColorstr='#7993ac',GradientType=0 );height:100%;left:0;position:fixed;top:0;width:100%;z-index:-5}
background: rgb(47,68,92);
		background: -moz-linear-gradient(top,  rgba(47,68,92,1) 0%, rgba(62,99,135,1) 51%, rgba(121,147,172,1) 91%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,68,92,1)), color-stop(51%,rgba(62,99,135,1)), color-stop(91%,rgba(121,147,172,1)));
		background: -webkit-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -o-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -ms-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: linear-gradient(to bottom,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f445c', endColorstr='#7993ac',GradientType=0 );

/* line 11 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000311}}
.calendar{color:#fff;height:100%;left:0;margin:0 auto;position:absolute;top:3em;width:100%;z-index:2}

/* line 21 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000321}}
.dia,.numero,.mes{color:#fff;display:block;line-height:1em;position:absolute;z-index:4}

/* line 30 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000330}}
.dia{font-size:2em;left:27%;animation:animacionDia 2.9s 1;-webkit-animation:animacionDia 2.9s 1}

/* line 36 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000336}}
.eventActual{border:1px solid #fff;margin:15em .5em .5em .5em}

/* line 40 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000340}}
.llistaVisible{border:1px solid #fff;margin:.5em}

/* line 44 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000344}}
.numero{font-size:7.5em;left:26%;letter-spacing:-15px;top:35px;animation:animacionNumero 2.5s 1;-webkit-animation:animacionNumero 2.5s 1}

/* line 52 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000352}}

/* line 53 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000353}}
.boto .menu{background:rgba(255,255,255,0.15);border-radius:50%;top:12px;color:rgba(255,255,255,0.3);height:38px;line-height:2.4em;position:fixed;right:12px;font-size:.8em;text-align:center;width:38px;z-index:7;animation:animacionBoto .5s 1;-webkit-animation:animacionBoto .5s 1;}

/* line 68 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000368}}
.boto .menu:after{content:'\e601';font-family:icono}

/* line 72 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000372}}
.mes{left:23%;font-size:2em;top:180px;animation:animacionMes 2.7s 1;-webkit-animation:animacionMes 2.7s 1}

/* line 79 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000379}}

/* line 80 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000380}}
.inici .boto,.inici .botoTrans,.inici .on,.inici .onTrans,.inici .off,.inici .offTrans{display:none}

/* line 88 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000388}}

/* line 89 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000389}}
.botoOn .menu{background:rgba(0,0,0,0.5);border-radius:50%;top:12px;color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;position:fixed;right:12px;font-size:1.2em;text-align:center;width:50px;z-index:7;animation:animacionbotoOn .3s 1;-webkit-animation:animacionbotoOn .3s 1;}

/* line 104 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003104}}
.botoOn .menu:after{content:'\e601';font-family:icono}

/* line 107 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003107}}
.botoOn .mapa{background:rgba(255,255,255,0.7);border-radius:50%;top:12px;color:rgba(0,0,0,0.7);height:50px;line-height:2.1em;position:fixed;left:12px;font-size:1.2em;text-align:center;width:50px;z-index:3;animation:animacionMapa .2s 1;-webkit-animation:animacionMapa .2s 1;}

/* line 122 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003122}}
.botoOn .mapa:after{content:'\e602';font-family:icono}

/* line 125 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003125}}
.botoOn .mapa:hover{background:rgba(0,0,0,0.5);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 130 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003130}}
.botoOn .aumentar{background:rgba(255,255,255,0.7);border-radius:50%;top:75px;color:rgba(0,0,0,0.7);height:50px;line-height:1.9em;position:fixed;right:12px;font-size:1.2em;text-align:center;width:50px;z-index:4;animation:animacionAumentar .2s 1;-webkit-animation:animacionAumentar .2s 1;}

/* line 145 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003145}}
.botoOn .aumentar:after{content:'a';font-size:1.4em;font-weight:300}

/* line 149 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003149}}
.botoOn .aumentar:hover{background:rgba(0,0,0,0.5);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 154 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003154}}
.botoOn .disminuir{background:rgba(255,255,255,0.7);border-radius:50%;top:140px;color:rgba(0,0,0,0.7);height:50px;line-height:1.7em;position:fixed;right:12px;font-size:1.3em;text-align:center;width:50px;z-index:2;animation:animacionDisminuir .25s 1;-webkit-animation:animacionDisminuir .25s 1;}

/* line 169 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003169}}
.botoOn .disminuir:after{content:'a';font-size:.75em;font-weight:300;text-align:center}

/* line 174 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003174}}
.botoOn .disminuir:hover{background:rgba(0,0,0,0.5);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 180 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003180}}

/* line 181 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003181}}
.botoOff .menu{background:rgba(0,0,0,0.5);border-radius:50%;top:12px;color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;position:fixed;right:12px;font-size:1.2em;text-align:center;width:50px;z-index:7;animation:animacionbotoOff .3s 1;-webkit-animation:animacionbotoOff .3s 1;}

/* line 196 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003196}}
.botoOff .menu:after{content:'\e601';font-family:icono}

/* line 199 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003199}}
.botoOff .mapa{background:rgba(255,255,255,0.7);border-radius:50%;top:12px;color:rgba(0,0,0,0.7);height:50px;line-height:2.1em;position:fixed;left:12px;font-size:1.2em;text-align:center;width:50px;z-index:3;animation:animacionMapaOff .2s 1;-webkit-animation:animacionMapaOff .2s 1;}

/* line 214 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003214}}
.botoOff .mapa:after{content:'\e602';font-family:icono}

/* line 217 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003217}}
.botoOff .mapa:hover{background:rgba(0,0,0,0.5);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 222 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003222}}
.botoOff .aumentar{background:rgba(255,255,255,0.7);border-radius:50%;top:75px;color:rgba(0,0,0,0.7);height:50px;line-height:1.9em;position:fixed;right:12px;font-size:1.2em;text-align:center;width:50px;z-index:4;animation:animacionAumentarOff .2s 1;-webkit-animation:animacionAumentarOff .2s 1;}

/* line 237 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003237}}
.botoOff .aumentar:after{content:'a';font-size:1.4em;font-weight:300}

/* line 241 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003241}}
.botoOff .aumentar:hover{background:rgba(0,0,0,0.5);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 246 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003246}}
.botoOff .disminuir{background:rgba(255,255,255,0.7);border-radius:50%;top:140px;color:rgba(0,0,0,0.7);height:50px;line-height:1.7em;position:fixed;right:12px;font-size:1.3em;text-align:center;width:50px;z-index:2;animation:animacionDisminuirOff .25s 1;-webkit-animation:animacionDisminuirOff .25s 1;}

/* line 261 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003261}}
.botoOff .disminuir:after{content:'a';font-size:.75em;font-weight:300;text-align:center}

/* line 266 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003266}}
.botoOff .disminuir:hover{background:rgba(0,0,0,0.5);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 273 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003273}}

/* line 274 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003274}}
.PROVA COMIDN .menu{background:rgba(0,0,0,0.7);border-radius:50%;bottom:25px;color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;position:fixed;right:25px;font-size:1.2em;text-align:center;width:50px;z-index:7;animation:animacionOn 0 1;-webkit-animation:animacionOn 0 1;}

/* line 289 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003289}}
.PROVA COMIDN .menu:after{content:'\e601';font-family:icono}

/* line 292 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003292}}
.PROVA COMIDN .mapa{background:rgba(255,255,255,0.7);border-radius:50%;bottom:25px;color:rgba(0,0,0,0.7);height:50px;line-height:2.1em;position:fixed;left:25px;font-size:1.2em;text-align:center;width:50px;z-index:3;animation:animacionMapa .2s 1;-webkit-animation:animacionMapa .2s 1;}

/* line 307 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003307}}
.PROVA COMIDN .mapa:after{content:'\e602';font-family:icono}

/* line 310 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003310}}
.PROVA COMIDN .mapa:hover{background:rgba(0,0,0,0.7);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 315 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003315}}
.PROVA COMIDN .aumentar{background:rgba(255,255,255,0.7);border-radius:50%;bottom:90px;color:rgba(0,0,0,0.7);height:50px;line-height:1.9em;position:fixed;right:25px;font-size:1.2em;text-align:center;width:50px;z-index:4;animation:animacionAumentar .2s 1;-webkit-animation:animacionAumentar .2s 1;}

/* line 330 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003330}}
.PROVA COMIDN .aumentar:after{content:'a';font-size:1.4em;font-weight:300}

/* line 334 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003334}}
.PROVA COMIDN .aumentar:hover{background:rgba(0,0,0,0.7);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 339 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003339}}
.PROVA COMIDN .disminuir{background:rgba(255,255,255,0.7);border-radius:50%;bottom:155px;color:rgba(0,0,0,0.7);height:50px;line-height:1.7em;position:fixed;right:25px;font-size:1.3em;text-align:center;width:50px;z-index:2;animation:animacionDisminuar .25s 1;-webkit-animation:animacionDisminuar .25s 1;}

/* line 354 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003354}}
.PROVA COMIDN .disminuir:after{content:'a';font-size:.75em;font-weight:300;text-align:center}

/* line 359 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003359}}
.PROVA COMIDN .disminuir:hover{background:rgba(0,0,0,0.7);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 365 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003365}}
@-moz-keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 365 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003365}}
@-webkit-keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 365 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003365}}
@-o-keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 365 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003365}}
@-ms-keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 365 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003365}}
@keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 373 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003373}}
@-moz-keyframes animacionAumentarOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 373 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003373}}
@-webkit-keyframes animacionAumentarOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 373 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003373}}
@-o-keyframes animacionAumentarOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 373 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003373}}
@-ms-keyframes animacionAumentarOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 373 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003373}}
@keyframes animacionAumentarOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 381 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003381}}
@-moz-keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 381 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003381}}
@-webkit-keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 381 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003381}}
@-o-keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 381 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003381}}
@-ms-keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 381 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003381}}
@keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 389 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003389}}
@-moz-keyframes animacionDisminuirOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 389 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003389}}
@-webkit-keyframes animacionDisminuirOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 389 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003389}}
@-o-keyframes animacionDisminuirOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 389 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003389}}
@-ms-keyframes animacionDisminuirOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 389 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003389}}
@keyframes animacionDisminuirOff{0%{bottom:75px;opacity:1}
100%{top:12px;opacity:0}
}
/* line 397 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003397}}
@-moz-keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 397 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003397}}
@-webkit-keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 397 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003397}}
@-o-keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 397 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003397}}
@-ms-keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 397 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003397}}
@keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 403 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003403}}
@-moz-keyframes animacionbotoOn{0%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
100%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
}
/* line 403 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003403}}
@-webkit-keyframes animacionbotoOn{0%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
100%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
}
/* line 403 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003403}}
@-o-keyframes animacionbotoOn{0%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
100%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
}
/* line 403 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003403}}
@-ms-keyframes animacionbotoOn{0%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
100%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
}
/* line 403 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003403}}
@keyframes animacionbotoOn{0%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
100%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
}
/* line 420 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003420}}
@-moz-keyframes animacionbotoOff{0%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
100%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
}
/* line 420 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003420}}
@-webkit-keyframes animacionbotoOff{0%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
100%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
}
/* line 420 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003420}}
@-o-keyframes animacionbotoOff{0%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
100%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
}
/* line 420 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003420}}
@-ms-keyframes animacionbotoOff{0%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
100%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
}
/* line 420 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003420}}
@keyframes animacionbotoOff{0%{background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.7);height:50px;line-height:2.2em;right:12px;font-size:1.2em;width:50px}
100%{background:rgba(255,255,255,0.15);color:rgba(255,255,255,0.3);font-size:.8em;height:38px;line-height:2.4em;width:38px}
}
/* line 437 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003437}}
@-moz-keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 437 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003437}}
@-webkit-keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 437 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003437}}
@-o-keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 437 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003437}}
@-ms-keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 437 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003437}}
@keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 445 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003445}}
@-moz-keyframes animacionMapaOff{0%{left:12px;opacity:1}
100%{left:180px;opacity:0}
}
/* line 445 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003445}}
@-webkit-keyframes animacionMapaOff{0%{left:12px;opacity:1}
100%{left:180px;opacity:0}
}
/* line 445 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003445}}
@-o-keyframes animacionMapaOff{0%{left:12px;opacity:1}
100%{left:180px;opacity:0}
}
/* line 445 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003445}}
@-ms-keyframes animacionMapaOff{0%{left:12px;opacity:1}
100%{left:180px;opacity:0}
}
/* line 445 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003445}}
@keyframes animacionMapaOff{0%{left:12px;opacity:1}
100%{left:180px;opacity:0}
}}