
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 2 : /Users/jordiimac/Documents/AniMenu/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/reset\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/AniMenu/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/reset\.styl}line{font-family:\000032}}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* line 14 : /Users/jordiimac/Documents/AniMenu/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/reset\.styl}line{font-family:\0000314}}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}

/* line 18 : /Users/jordiimac/Documents/AniMenu/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/reset\.styl}line{font-family:\0000318}}
pre{white-space:pre-wrap}

/* line 17 : /Users/jordiimac/Documents/AniMenu/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/estilos\.styl}line{font-family:\0000317}}
@font-face{font-family:'icono';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}

/* line 38 : /Users/jordiimac/Documents/AniMenu/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/estilos\.styl}line{font-family:\0000338}}
body{width:100%;height:100%;font-family:lato;font-size:20px;font-weight:100}

/* line 54 : /Users/jordiimac/Documents/AniMenu/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/estilos\.styl}line{font-family:\0000354}}
@media screen and (max-width: 769px){
/* line 2 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\000032}}
.bg{background: rgb(47,68,92);
		background: -moz-linear-gradient(top,  rgba(47,68,92,1) 0%, rgba(62,99,135,1) 51%, rgba(121,147,172,1) 91%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,68,92,1)), color-stop(51%,rgba(62,99,135,1)), color-stop(91%,rgba(121,147,172,1)));
		background: -webkit-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -o-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -ms-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: linear-gradient(to bottom,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f445c', endColorstr='#7993ac',GradientType=0 );height:100%;left:0;position:fixed;top:0;width:100%;z-index:-5}
background: rgb(47,68,92);
		background: -moz-linear-gradient(top,  rgba(47,68,92,1) 0%, rgba(62,99,135,1) 51%, rgba(121,147,172,1) 91%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,68,92,1)), color-stop(51%,rgba(62,99,135,1)), color-stop(91%,rgba(121,147,172,1)));
		background: -webkit-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -o-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: -ms-linear-gradient(top,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		background: linear-gradient(to bottom,  rgba(47,68,92,1) 0%,rgba(62,99,135,1) 51%,rgba(121,147,172,1) 91%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f445c', endColorstr='#7993ac',GradientType=0 );

/* line 11 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000311}}
.calendar{color:#fff}

/* line 14 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000314}}
.dia{animation:animacionDia 3s 1;-webkit-animation:animacionDia 3s 1}

/* line 18 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000318}}
.eventActual{border:1px solid #fff;margin:15em .5em .5em .5em}

/* line 22 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000322}}
.llistaVisible{border:1px solid #fff;margin:.5em}

/* line 26 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000326}}
.numero{animation:animacionNumero 3s 1;-webkit-animation:animacionNumero 3s 1}

/* line 30 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000330}}

/* line 31 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000331}}
.boto .menu{background:rgba(0,0,0,0.05);border-radius:50%;top:12px;color:rgba(255,255,255,0.5);height:50px;line-height:2.2em;position:fixed;right:12px;font-size:1.2em;text-align:center;width:50px;z-index:7;animation:animacionBoto .2s 1;-webkit-animation:animacionBoto .2s 1;}

/* line 46 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000346}}
.boto .menu:after{content:'\e601';font-family:icono}

/* line 50 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000350}}
.mes{animation:animacionMes 3s 1;-webkit-animation:animacionMes 3s 1}

/* line 55 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000355}}

/* line 56 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000356}}
.inici .boto,.inici .botoTrans,.inici .on,.inici .onTrans,.inici .off,.inici .offTrans{display:none}

/* line 64 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000364}}

/* line 65 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000365}}
.botoOn .menu{background:rgba(0,0,0,0.05);border-radius:50%;top:12px;color:rgba(255,255,255,0.5);height:50px;line-height:2.2em;position:fixed;right:12px;font-size:1.2em;text-align:center;width:50px;z-index:7;}

/* line 78 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000378}}
.botoOn .menu:after{content:'\e601';font-family:icono}

/* line 81 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000381}}
.botoOn .mapa{background:rgba(255,255,255,0.7);border-radius:50%;top:12px;color:rgba(0,0,0,0.7);height:50px;line-height:2.1em;position:fixed;left:12px;font-size:1.2em;text-align:center;width:50px;z-index:3;animation:animacionMapa .4s 1;-webkit-animation:animacionMapa .4s 1;}

/* line 96 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000396}}
.botoOn .mapa:after{content:'\e602';font-family:icono}

/* line 99 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\0000399}}
.botoOn .mapa:hover{background:rgba(0,0,0,0.2);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 104 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003104}}
.botoOn .aumentar{background:rgba(255,255,255,0.7);border-radius:50%;top:75px;color:rgba(0,0,0,0.7);height:50px;line-height:1.9em;position:fixed;right:12px;font-size:1.2em;text-align:center;width:50px;z-index:4;animation:animacionAumentar .4s 1;-webkit-animation:animacionAumentar .4s 1;}

/* line 119 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003119}}
.botoOn .aumentar:after{content:'a';font-size:1.4em;font-weight:300}

/* line 123 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003123}}
.botoOn .aumentar:hover{background:rgba(0,0,0,0.2);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 128 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003128}}
.botoOn .disminuir{background:rgba(255,255,255,0.7);border-radius:50%;top:140px;color:rgba(0,0,0,0.7);height:50px;line-height:1.9em;position:fixed;right:12px;font-size:1.2em;text-align:center;width:50px;z-index:4;animation:animacionDisminuir .4s 1;-webkit-animation:animacionDisminuir .4s 1;}

/* line 143 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003143}}
.botoOn .disminuir:after{content:'a';font-size:.9em;font-weight:300}

/* line 147 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003147}}
.botoOn .disminuir:hover{background:rgba(0,0,0,0.2);color:#fff;-webkit-transition:all .2s;transition:all .2s}

/* line 153 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003153}}
@-moz-keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 153 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003153}}
@-webkit-keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 153 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003153}}
@-o-keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 153 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003153}}
@-ms-keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 153 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003153}}
@keyframes animacionAumentar{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 161 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003161}}
@-moz-keyframes animacionDia{0%{opacity:0}
50%{opacity:0}
75%{opacity:0}
100%{opacity:1}
}
/* line 161 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003161}}
@-webkit-keyframes animacionDia{0%{opacity:0}
50%{opacity:0}
75%{opacity:0}
100%{opacity:1}
}
/* line 161 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003161}}
@-o-keyframes animacionDia{0%{opacity:0}
50%{opacity:0}
75%{opacity:0}
100%{opacity:1}
}
/* line 161 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003161}}
@-ms-keyframes animacionDia{0%{opacity:0}
50%{opacity:0}
75%{opacity:0}
100%{opacity:1}
}
/* line 161 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003161}}
@keyframes animacionDia{0%{opacity:0}
50%{opacity:0}
75%{opacity:0}
100%{opacity:1}
}
/* line 171 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003171}}
@-moz-keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 171 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003171}}
@-webkit-keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 171 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003171}}
@-o-keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 171 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003171}}
@-ms-keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 171 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003171}}
@keyframes animacionDisminuir{0%{top:12px;opacity:0}
100%{bottom:75px;opacity:1}
}
/* line 179 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003179}}
@-moz-keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 179 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003179}}
@-webkit-keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 179 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003179}}
@-o-keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 179 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003179}}
@-ms-keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 179 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003179}}
@keyframes animacionBoto{0%{opacity:0}
100%{opacity:1}
}
/* line 185 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003185}}
@-moz-keyframes animacionNumero{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 185 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003185}}
@-webkit-keyframes animacionNumero{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 185 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003185}}
@-o-keyframes animacionNumero{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 185 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003185}}
@-ms-keyframes animacionNumero{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 185 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003185}}
@keyframes animacionNumero{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 193 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003193}}
@-moz-keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 193 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003193}}
@-webkit-keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 193 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003193}}
@-o-keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 193 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003193}}
@-ms-keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 193 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003193}}
@keyframes animacionMapa{0%{left:180px;opacity:0}
100%{left:12px;opacity:1}
}
/* line 201 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003201}}
@-moz-keyframes animacionMes{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 201 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003201}}
@-webkit-keyframes animacionMes{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 201 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003201}}
@-o-keyframes animacionMes{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 201 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003201}}
@-ms-keyframes animacionMes{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
/* line 201 : /Users/jordiimac/Documents/AniMenu/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/AniMenu\/css\/bp1\.styl}line{font-family:\00003201}}
@keyframes animacionMes{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}}