
@import "reset.styl"

// Fuentes =========================================
principal = 'Lato', sans-serif;

// Colores =========================================
principal = rgba(#e8eaed,1)
secundario = #5a6171
rosa = #d1505f
iconos = #353535
gris = #a6a6a6
noche = #fff400
cielo = #aae2ff

// @font-face ======================================
@font-face {
    font-family: 'icono';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// .icon-ellipsis:before {
//     content: "\e60b";
// }
// .icon-export:before {
//     content: "\e602";
// }
// .icon-pictures:before {
//     content: "\e601";
// }
// .icon-arrow-down:before {
//     content: "\e603";
// }
// .icon-location:before {
//     content: "\e600";
// }
// .icon-location2:before {
//     content: "\e604";
// }
// .icon-angle-right:before {
//     content: "\e607";
// }
// .icon-angle-left:before {
//     content: "\e605";
// }
// .icon-home:before {
//     content: "\e606";
// }
// .icon-calendar:before {
//     content: "\e60e";
// }


body
    width 100%
    height 100%
    font-family lato
    font-size 20px
    font-weight 100

// Break points ====================================


@import "bp1.styl"

@media screen and (min-width: 460px) 
    @import "bp2.styl"

@media screen and (min-width: 760px) 
    @import "bp3.styl"

@media screen and (min-width: 960px) 
    @import "bp4.styl"

