
@import "reset.styl"


// Margenes =========================================

// Fuentes =========================================
principal = 'Lato', sans-serif;

// Colores =========================================
principal = rgba(#e8eaed,1)
secundario = #5a6171
rosa = #d1505f
iconos = #353535
gris = #a6a6a6
noche = #fff400
cielo = #aae2ff

// @font-face ======================================
@font-face {
    font-family: 'icono';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


// .icon-location:before {
//     content: "\e605";
// }
// .icon-arrow-left:before {
//     content: "\e603";
// }
// .icon-ellipsis:before {
//     content: "\e60b";
// }
// .icon-export:before {
//     content: "\e602";
// }
// .icon-arrow-up:before {
//     content: "\e604";
// }
// .icon-sun-fill:before {
//     content: "\e601";
// }
// .icon-moon-fill:before {
//     content: "\e606";
// }
// .icon-calendar:before {
//     content: "\e600";
// }
// .icon-article:before {
//     content: "\e607";
// }


body
    // background green
    width 100%
    height 100%
    font-family lato
    font-size 20px
    font-weight 100

// Break points ====================================

// @media screen and (min-width: 992px) 
//     @import "bp3.styl"

// @media screen and (min-width: 600px) 
//     @import "bp2.styl"

// @media screen and (min-width: 480px) 
//     @import "bp1.styl"

@import "movil.styl"
