
header
	width 100%
	overflow-x hidden
	overflow-y hidden
	position relative	
	.bgHeader
		@css {
			background: rgb(6,64,112);
			background: -moz-linear-gradient(45deg,  rgba(6,64,112,1) 0%, rgba(3,30,57,1) 53%, rgba(6,13,13,1) 87%);
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(6,64,112,1)), color-stop(53%,rgba(3,30,57,1)), color-stop(87%,rgba(6,13,13,1)));
			background: -webkit-linear-gradient(45deg,  rgba(6,64,112,1) 0%,rgba(3,30,57,1) 53%,rgba(6,13,13,1) 87%);
			background: -o-linear-gradient(45deg,  rgba(6,64,112,1) 0%,rgba(3,30,57,1) 53%,rgba(6,13,13,1) 87%);
			background: -ms-linear-gradient(45deg,  rgba(6,64,112,1) 0%,rgba(3,30,57,1) 53%,rgba(6,13,13,1) 87%);
			background: linear-gradient(45deg,  rgba(6,64,112,1) 0%,rgba(3,30,57,1) 53%,rgba(6,13,13,1) 87%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064070', endColorstr='#060d0d',GradientType=1 );
       		}
		position absolute 
		z-index 0
		top 0
		width 100%
		height 445px
	.botonera
		// background rgba(black,.3)
		height auto
		overflow-x auto
		overflow-y hidden
		padding 10px 20px 0 10px 
		white-space nowrap
		width 100%
		position relative
		z-index 15
		ul
			text-align center
			.dia 
				border-radius 50%
				display inline-block
				height 65px 
				margin 0
				position relative
				width 65px
				p
					border-radius 50%
					color rgba(#c0fff2,1)
					height 35px
					left 25%
					font-weight 400
					line-height 1.5em
					position absolute
					text-align center
					top 17px
					width 35px 
					&:hover
						background rgba(#c0fff2,1)
						color rgba(black,.7)
						font-weight 400
				.centrarMes
					margin 0 0 0 .35em
				.mes
					color rgba(white,.8)
					font-size .7em
					font-weight 300
					left 25%
					letter-spacing 0em
					position absolute
					top 55px
				.nomDia
					color rgba(white,.8)
					font-size .7em
					font-weight 300
					left 30%
					position absolute
					top -5px
				&:last-child
					margin 0 2em 0 0
	.calendari
		// background rgba(red,.3)
		color white
		display block
		height 445px
		margin 0 auto
		padding 3em 0 0 0 
		position relative
		width 100%
		z-index 10
		.dia
			font-size 1em
			font-weight 300
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionDia 3s 1
			-webkit-animation animacionDia 3s 1
		.numero
			font-size 4em
			font-weight 100
			margin -.1em 0
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionNumero 3s 1
			-webkit-animation animacionNumero 3s 1
		.mes
			font-size 1em
			font-weight 300
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionMes 3s 1
			-webkit-animation animacionMes 3s 1
	.eventActual
		// background rgba(black,.3)
		// border-top 1px solid rgba(white,.2)
		color white
		display block
		font-size .9em
		font-weight 100
		height auto
		padding .7em 1em 1.2em 1em
		position relative
		z-index 5
		.contingutEventActual
			animation animacionLlista 3s 1
			-webkit-animation animacionLlista 3s 1
			.event
				color rgba(white,1)
				display block
				font-size .9em
				font-weight 300
				letter-spacing .055em
				line-height 1.2em
				margin .7em auto 0 auto
				padding .7em 0 0 0
				text-align center
				width 90%
				.lloc
					color rgba(white,.5)
					font-size .7em
					letter-spacing .13em
					margin .5em 0 0 0 
					text-transform uppercase
					p
						&:after
							content '\e605'
							font-family icono
			.hora
				color white
				display block
				font-size .9em
				font-weight 300
				margin .6em auto 0 auto
				text-align center
				width 100px
				// p
				// 	&:after
				// 		content 'h'
		.titol
			// background rgba(white,.5)
			border-radius 10px
			color rgba(#c0fff2,1)
			font-size 1em
			font-weight 400
			left 10px
			top 20px
			// line-height 2em
			padding 0 .7em
			position absolute
			// text-transform uppercase
			span
				position absolute
				left 50px
				top 0px
				transform rotateZ(180deg)
				-ms-transform rotateZ(180deg)
				-webkit-transform rotateZ(180deg)
				&:after
					content '\e603'
					font-family icono
section
	margin 0 0 60px 0
	display block
	position relative
	overflow-x hidden
	.llistaVisible
		animation animacionLlista .3s 1
		-webkit-animation animacionLlista .3s 1
		padding 1em 0 1em 0
		.event
			margin  10px 10px
			.detallEvent
				background rgba(white,.3)
				border-radius 10px 10px 0 0 
				margin .5em 0 0 0 
				color rgba(black,.8)
				display block
				height 30px
				.quan
					.data
						p
							color rgba(#c0fff2,.5)
							font-size .70em
							font-weight 300
							left 70px
							position relative
							top -10px
					.hora
						color rgba(#c0fff2,1)
						font-size .7em
						font-weight 400
						letter-spacing 2px
						position relative
						top 7px
						left 10px
						p
							&:after
								content 'h'
			.Event
					background rgba(white,.4)
					border-radius 0 0 10px 10px
					color rgba(#c0fff2,1)
					display block
					font-size .9em
					font-weight 400
					// margin 1px 0 0 0 
					padding .7em .5em .8em .5em
					position relative
					.detall
						display none
						width 95%
						font-size .8em
						font-weight 300
						margin 1em 0 1em 1em 
						p
							&:after
								display none
					.expandir
						position absolute 
						right .2em
						top .7em
						transform rotateZ(90deg)
						-ms-transform rotateZ(90deg)
						-webkit-transform rotateZ(90deg)
						&:after
							content '\e60b'
							color rgba(black,.3)
							font-family icono
							font-size 1em
					.lloc
						color rgba(#c0fff2,1)
						font-size .6em
						font-weight 300
						letter-spacing 1px
						margin .5em 1em 0 0
						text-transform uppercase
						p
							&:before
								content '\e605'
								font-family icono
								color rgba(#c0fff2,1)
		.anarInici
			display block
			text-align center
			.boto
				background rgba(white,.1)
				border-radius 50%
				color rgba(white,.5)
				display inline-block
				height 50px
				line-height 2.5em
				margin 1em 0 0 0 
				width 50px
				&:after
					content '\e604'
					font-family icono
					font-size 1.5em
	.llistaInvisible
		display none
.bg 
	@css {
		background: rgb(20,87,133);
		background: -moz-linear-gradient(45deg,  rgba(20,87,133,1) 0%, rgba(13,58,89,1) 56%, rgba(10,44,67,1) 98%);
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(20,87,133,1)), color-stop(56%,rgba(13,58,89,1)), color-stop(98%,rgba(10,44,67,1)));
		background: -webkit-linear-gradient(45deg,  rgba(20,87,133,1) 0%,rgba(13,58,89,1) 56%,rgba(10,44,67,1) 98%);
		background: -o-linear-gradient(45deg,  rgba(20,87,133,1) 0%,rgba(13,58,89,1) 56%,rgba(10,44,67,1) 98%);
		background: -ms-linear-gradient(45deg,  rgba(20,87,133,1) 0%,rgba(13,58,89,1) 56%,rgba(10,44,67,1) 98%);
		background: linear-gradient(45deg,  rgba(20,87,133,1) 0%,rgba(13,58,89,1) 56%,rgba(10,44,67,1) 98%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#145785', endColorstr='#0a2c43',GradientType=1 );

        }
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index -50
.bgEvento
	// border-bottom 1px solid rgba(white,.0)
	// border-top 1px solid rgba(white,.3)
	box-shadow 0px -2px 3px rgba(black,.2)
	height 235px
	left 0 
	position absolute
	right 0
	top 445px
	z-index 5
	@css {
		background: rgb(24,49,75);
		background: -moz-linear-gradient(45deg,  rgba(24,49,75,1) 7%, rgba(26,78,121,1) 99%);
		background: -webkit-gradient(linear, left bottom, right top, color-stop(7%,rgba(24,49,75,1)), color-stop(99%,rgba(26,78,121,1)));
		background: -webkit-linear-gradient(45deg,  rgba(24,49,75,1) 7%,rgba(26,78,121,1) 99%);
		background: -o-linear-gradient(45deg,  rgba(24,49,75,1) 7%,rgba(26,78,121,1) 99%);
		background: -ms-linear-gradient(45deg,  rgba(24,49,75,1) 7%,rgba(26,78,121,1) 99%);
		background: linear-gradient(45deg,  rgba(24,49,75,1) 7%,rgba(26,78,121,1) 99%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18314b', endColorstr='#1a4e79',GradientType=1 );

	}
.efectos
	height 600px
	width 100%
	top 0px
	overflow-x hidden
	overflow-y hidden
	position absolute
	.dia
		.moverDestellos
		.nubes
		.rayos
		.sol
			display none
	.nit
		.contenedorCastell
			display block
			margin 0 auto
			position relative
			width 150px
			z-index 4
			.castell
				background-image url(../img/castell.png)
				background-repeat no-repeat
				background-size 243px auto
				height 119px
				left -50px
				position absolute
				top 326px
				width 243px
			.castellFosc
				background-image url(../img/castellFosc.png)
				background-repeat no-repeat
				background-size 243px auto
				height 119px
				left -50px
				position absolute
				top 326px
				width 243px
				animation animacionFosc 15s infinite
				-webkit-animation animacionFosc 15s infinite
		.estrellas
			height 445px
			left 0 
			position relative
			right 0
			top 0
			z-index 1
			.moverFugaz
				display block
				position absolute 
				z-index 1
				right -10px
				top -10px
				transform rotateZ(-50deg)
				-ms-transform rotateZ(-50deg)
				-webkit-transform rotateZ(-50deg)
				.fugaz
					background white
					border-radius 50%
					height 1px
					width 35px
					-webkit-filter brightness(3)
					animation animacionFugaz 16s infinite
					-webkit-animation animacionFugaz 16s infinite
			.moverConstelacion
				height 445px
				overflow-x auto
				overflow-y hidden
				position relative
				z-index 1
				.constelacion
					background-image url(../img/estrellas.png)
					background-repeat no-repeat
					background-size 900px auto
					// border 2px solid white
					height 900px
					left -250px
					position absolute
					top 0px
					width 900px
					opacity 1
					-webkit-filter brightness(1.8)
					animation animacionConstelacion 320s infinite
					-webkit-animation animacionConstelacion 320s infinite
		.degradadoA
			@css{
				background: -moz-linear-gradient(top,  rgba(84,84,84,0) 0%, rgba(255,255,255,0.07) 49%, rgba(255,255,255,0.51) 80%, rgba(159,91,37,0.8) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(84,84,84,0)), color-stop(49%,rgba(255,255,255,0.07)), color-stop(80%,rgba(255,255,255,0.51)), color-stop(100%,rgba(159,91,37,0.8)));
				background: -webkit-linear-gradient(top,  rgba(84,84,84,0) 0%,rgba(255,255,255,0.07) 49%,rgba(255,255,255,0.51) 80%,rgba(159,91,37,0.8) 100%);
				background: -o-linear-gradient(top,  rgba(84,84,84,0) 0%,rgba(255,255,255,0.07) 49%,rgba(255,255,255,0.51) 80%,rgba(159,91,37,0.8) 100%);
				background: -ms-linear-gradient(top,  rgba(84,84,84,0) 0%,rgba(255,255,255,0.07) 49%,rgba(255,255,255,0.51) 80%,rgba(159,91,37,0.8) 100%);
				background: linear-gradient(to bottom,  rgba(84,84,84,0) 0%,rgba(255,255,255,0.07) 49%,rgba(255,255,255,0.51) 80%,rgba(159,91,37,0.8) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00545454', endColorstr='#cc9f5b25',GradientType=0 );
				}
			opacity .2
			display block
			width 100%
			height 445px
			top 0px
			position absolute
			z-index 3	
		.degradadoB
			@css{
				background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(244,118,0,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(100%,rgba(244,118,0,1)));
				background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(244,118,0,1) 100%);
				background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(244,118,0,1) 100%);
				background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(244,118,0,1) 100%);
				background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(244,118,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#f47600',GradientType=0 );
				}
			opacity .12
			display block
			width 100%
			height 145px
			top 300px
			position absolute
			z-index 3		
.menu
	background #1e3e5e
	border-radius 10px
	width 99%
	bottom 0
	margin 0 auto .4em auto
	left 0
	position fixed
	right 0
	z-index 20
	.botonMenu
		display inline-block
		width 18%
		a
			decoration none
			.mapa
				color rgba(#c0fff2,1)
				font-size 1.2em
				height 50px
				line-height 2.1em
				text-align center
				width 50px
				z-index 3
				&:before
					content '\e607'
					font-family icono
					font-size .7em
				&:hover
					color rgba(white,.6)
					-webkit-transition: all .2s;
					transition: all .2s;
		.aumentar
			color rgba(#c0fff2,1)
			font-size 1.2em
			left 90px
			line-height 1.75em
			text-align right
			width 50px
			z-index 4
			&:after
				content 'a'
				font-size 1.4em
				font-weight 100
			&:hover
				color rgba(white,.6)
				-webkit-transition: all .2s;
				transition: all .2s;
		.contraste
			color rgba(#c0fff2,1)
			font-size 1.2em
			height 50px
			line-height 2.1em
			text-align center
			width 50px
			z-index 4
			&:after
				content '\e601'
				font-family icono
				font-size .75em
			&:hover
				color rgba(white,.6)
				-webkit-transition: all .2s;
				transition: all .2s;
		.compartir
			color rgba(#c0fff2,1)
			font-size 1.2em
			height 50px
			line-height 2.1em
			text-align center
			width 50px
			z-index 4
			&:after
				content '\e602'
				font-family icono
				font-size .85em
			&:hover
				color rgba(white,.6)
				-webkit-transition: all .2s;
				transition: all .2s;
				.social
					.facebook
						z-index 4
					.twitter
						z-index 4
		.disminuir
			color rgba(#c0fff2,1)
			font-size 1.2em
			height 50px
			line-height 1.85em
			text-align center
			width 50px
			z-index 4
			&:after
				content 'a'
				font-size .9em
				font-weight 300
			&:hover
				color rgba(white,.6)
				-webkit-transition: all .2s;
				transition: all .2s;
.patron
	position fixed
	top 0
	bottom 0
	right 0
	left 0
	width 100%
	height 100%
	background-image url(../img/patron.png)
	background-repeat repeat
	background-size 408px auto
	z-index -5
	opacity .05

@keyframes animacionConstelacion
	0%
		transform rotateZ(0deg)
		-ms-transform rotateZ(0deg)
		-webkit-transform rotateZ(0deg)

	50%
		transform rotateZ(120deg)
		-ms-transform rotateZ(120deg)
		-webkit-transform rotateZ(120deg)

	100%
		transform rotateZ(0deg)
		-ms-transform rotateZ(0deg)
		-webkit-transform rotateZ(0deg)
@keyframes animacionDia 	
	0% 
		opacity 0
	50%
		opacity 1
	75%
		opacity 1
	100% 
		opacity 1
@keyframes animacionFugaz 
	0%
		opacity 0
		transform translate(0px)
		-ms-transform translate(0px)
		-webkit-transform translate(0px)
	1%
		opacity .3
	15%
		opacity 0
	30%
		opacity 0
		transform translate(-900px)
		-ms-transform translate(-900px)
		-webkit-transform translate(-900px)
	35%
		opacity 0
	100%
		opacity 0
		transform translate(0px)
		-ms-transform translate(0px)
		-webkit-transform translate(0px)
@keyframes animacionFosc
	0% 
		opacity 1
	50%
		opacity .1
	75%
		opacity 1
	100% 
		opacity 1
@keyframes animacionMes 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 0
	100% 
		opacity 1
@keyframes animacionNumero 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 1
	100% 
		opacity 1
























