
header
	width 100%
	overflow-x hidden
	overflow-y hidden
	position relative	
	.bgHeader
		@css {
			background: rgb(6,64,112);
			background: -moz-linear-gradient(45deg,  rgba(6,64,112,1) 0%, rgba(3,30,57,1) 53%, rgba(6,13,13,1) 87%);
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(6,64,112,1)), color-stop(53%,rgba(3,30,57,1)), color-stop(87%,rgba(6,13,13,1)));
			background: -webkit-linear-gradient(45deg,  rgba(6,64,112,1) 0%,rgba(3,30,57,1) 53%,rgba(6,13,13,1) 87%);
			background: -o-linear-gradient(45deg,  rgba(6,64,112,1) 0%,rgba(3,30,57,1) 53%,rgba(6,13,13,1) 87%);
			background: -ms-linear-gradient(45deg,  rgba(6,64,112,1) 0%,rgba(3,30,57,1) 53%,rgba(6,13,13,1) 87%);
			background: linear-gradient(45deg,  rgba(6,64,112,1) 0%,rgba(3,30,57,1) 53%,rgba(6,13,13,1) 87%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064070', endColorstr='#060d0d',GradientType=1 );

       		 }
		position absolute 
		z-index 0
		top 0
		width 100%
		height 578px
	.botonera
		height auto
		overflow-x auto
		overflow-y hidden
		padding 10px 20px 0 10px 
		position absolute
		top 320px
		white-space nowrap
		width 100%
		z-index 5
		ul
			.dia 
				// @css {
				// 	background: rgb(224,224,222);
				// 	background: -moz-linear-gradient(left,  rgba(224,224,222,1) 24%, rgba(184,183,181,1) 100%);
				// 	background: -webkit-gradient(linear, left top, right top, color-stop(24%,rgba(224,224,222,1)), color-stop(100%,rgba(184,183,181,1)));
				// 	background: -webkit-linear-gradient(left,  rgba(224,224,222,1) 24%,rgba(184,183,181,1) 100%);
				// 	background: -o-linear-gradient(left,  rgba(224,224,222,1) 24%,rgba(184,183,181,1) 100%);
				// 	background: -ms-linear-gradient(left,  rgba(224,224,222,1) 24%,rgba(184,183,181,1) 100%);
				// 	background: linear-gradient(to right,  rgba(224,224,222,1) 24%,rgba(184,183,181,1) 100%);
				// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0de', endColorstr='#b8b7b5',GradientType=1 );
				// 	}
				border 1px solid rgba(noche,.7)
				border-radius 50%
				box-shadow 0 1px 3px rgba(black,.1)
				display inline-block
				height 65px 
				margin 0 0 0 1em 
				position relative
				width 65px
				-webkit-transition all .3s ease
				transition all .3s ease
				p
					color rgba(white,.8)
					font-weight 300
					left 32%
					margin 0
					position absolute
					top 7px
				span
					color rgba(white,.8)
					font-size .85em
					font-weight 300
					left 20%
					letter-spacing 0em
					position absolute
					top 30px
				.centrar
					left 40%
					position absolute
				.centrarMes
					left 27%
					position absolute
				&:hover
					background rgba(white,1)
					border none
					transition all .3s ease
					// -webkit-transition all .3s ease
					p
					span
						font-weight 400
						color rgba(black,.7)
				&:last-child
					margin 0 3em 0 1em
	.calendari
		// background rgba(red,.3)
		color white
		display block
		height 445px
		margin 0 auto
		padding 3em 0 0 0 
		position relative
		width 100%
		.dia
			font-size 1em
			font-weight 300
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionDia 3s 1
			-webkit-animation animacionDia 3s 1
		.numero
			font-size 4em
			font-weight 100
			margin -.1em 0
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionNumero 3s 1
			-webkit-animation animacionNumero 3s 1
		.mes
			font-size 1em
			font-weight 300
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionMes 3s 1
			-webkit-animation animacionMes 3s 1
	.eventActual
		background rgba(white,.08)
		border-top 1px solid rgba(white,.2)
		color white
		display block
		font-size .9em
		font-weight 100
		height auto
		padding .7em 1em 1.2em 1em
		position relative
		z-index 5
		.contingutEventActual
			animation animacionLlista 3s 1
			-webkit-animation animacionLlista 3s 1
			.event
				color rgba(white,1)
				display block
				font-size .9em
				font-weight 400
				letter-spacing .055em
				line-height 1.2em
				margin 0 auto
				padding .7em 0 .2em 0
				text-align center
				width 90%
				.lloc
					color rgba(white,.5)
					font-size .7em
					letter-spacing .13em
					margin .5em 0 0 0 
					text-transform uppercase
					p
						&:after
							content '\e605'
							font-family icono
			.hora
				color white
				display block
				font-size .9em
				font-weight 400
				margin 0 auto
				text-align center
				width 100px
				p
					&:after
						content 'h'

		.titol
			color rgba(white,1)
			font-size .8em
			font-weight 400
			left 12px
			position absolute
			text-transform uppercase
			top -25px
section
	margin 0 0 100px 0
	display block
	.llistaVisible
		padding 1em 0 0 0 
		animation animacionLlista .3s 1
		-webkit-animation animacionLlista .3s 1
		.event
			margin 0 .5em 1.8em 1.5em
			.detall
				border-bottom 3px solid rgba(white,1)
				padding 0 0 .2em .25em
				.horaEvent
					float left
					width 100%
					color white
					display block
					float left
					font-size .65em
					font-weight 300
					margin -1px 10px 0 -5px
					p
						&:after
							content 'h'
				.lloc
					color rgba(noche,.7)
					font-size .6em
					font-weight 300
					letter-spacing .20em
					text-transform uppercase
					p
						&:after
							content '\e605'
							font-family icono
			.contingut
				margin 1em 0 0 0 
				
				.titolEvent
					color rgba(white,1)
					font-size .9em
					font-weight 400
					margin -.7em 1.8em .7em .1em
					position relative
					p
						&:after
							content '\e606'
							font-family icono
							font-size 1.2em
							position absolute 
							right -33px
							top 0px
				.detallEvent
					display none
					width 107%
					font-size .8em
					font-weight 300
					margin 1em -1em 0em 1em
					p
						&:after
							display none
		.centrar
			display block
			text-align center
			.anarInici
				-ms-transform rotateZ(180deg)
				-webkit-transform rotateZ(180deg)
				background rgba(white,.1)
				border-radius 50%
				color rgba(black,.65)
				display inline-block
				height 50px
				line-height 2.7em
				transform rotateZ(180deg)
				width 50px
				&:after
					content '\e606'
					font-family icono
					font-size 1.5em
		// .preFestes
		// 	background rgba(#ffeb80,1)
		// 	display block
		// 	height 23px
		// 	margin 0 0 1em 0
		// 	animation animacionPreFestes 10s 1
		// 	-webkit-animation animacionPreFestes 10s 1
		// 	p
		// 		color #957c38
		// 		font-size .6em
		// 		font-weight 400
		// 		line-height 1.8em
		// 		text-align center
		// 		text-transform uppercase
	.llistaInvisible
		display none
.bg 
	@css {
		background: rgb(6,13,13);
		background: -moz-linear-gradient(top,  rgba(6,13,13,1) 39%, rgba(3,39,66,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,rgba(6,13,13,1)), color-stop(100%,rgba(3,39,66,1)));
		background: -webkit-linear-gradient(top,  rgba(6,13,13,1) 39%,rgba(3,39,66,1) 100%);
		background: -o-linear-gradient(top,  rgba(6,13,13,1) 39%,rgba(3,39,66,1) 100%);
		background: -ms-linear-gradient(top,  rgba(6,13,13,1) 39%,rgba(3,39,66,1) 100%);
		background: linear-gradient(to bottom,  rgba(6,13,13,1) 39%,rgba(3,39,66,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060d0d', endColorstr='#032742',GradientType=0 );
        }
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index -50
.boto
	.ajustos
	.facebook
	.programa
	.twitter
	.vistaCompleta
	.vistaNit
		display none
	.menu
		border-radius 50%
		bottom 15px 
		color rgba(white,.5)
		height 50px
		line-height 2.2em
		padding 1em
		position fixed
		right 10px
		font-size 1em
		text-align center
		width 50px
		z-index 10
		animation animacionBoto .2s 1
		-webkit-animation animacionBoto .2s 1
		&:after
			content '\e600'
			font-family icono
			font-size 1.3em
.efectos
	height 600px
	width 100%
	top 0px
	overflow-x hidden
	overflow-y hidden
	position absolute
	.dia
		.moverDestellos
		.nubes
		.rayos
		.sol
			display none
	.nit
		width 100%
		.contenedorCastell
			display block
			margin 0 auto
			position relative
			width 150px
			z-index 1
			.castell
				background-image url(../img/castell.png)
				background-repeat no-repeat
				background-size 243px auto
				height 119px
				left -50px
				position absolute
				top 326px
				width 243px
			.castellFosc
				background-image url(../img/castellFosc.png)
				background-repeat no-repeat
				background-size 243px auto
				height 119px
				left -50px
				position absolute
				top 326px
				width 243px
				animation animacionFosc 21s infinite
				-webkit-animation animacionFosc 21s infinite
		.estrellaDeseo
			width 35px
			height 1px
			background white
			border-radius 50%
			position absolute 
			top 200px
			right 100px
			z-index 1
			transform rotateZ(-18deg)
			-ms-transform rotateZ(-18deg)
			-webkit-transform rotateZ(-18deg)
			animation animacionDeseo 21s infinite
			-webkit-animation animacionDeseo 21s infinite
.botoOn
	background rgba(black,.8)
	bottom 0
	height 100%
	left 0
	position fixed
	right 0
	top 0
	width 100%
	z-index 3
	.ajustos
		color white
		display block
		font-size 1.3em
		font-weight 400
		letter-spacing 1px
		margin 35px auto 0 auto
		p
			text-align center
	.aumentar
		background rgba(#1877e9,1)
		border-radius 50%
		color rgba(#deecfb,1)
		font-size 1.2em
		height 50px
		left 90px
		line-height 1.75em
		position fixed
		text-align center
		top 110px
		width 50px
		z-index 4
		&:after
			content 'a'
			font-size 1.4em
			font-weight 300
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.contraste
		background rgba(#1877e9,1)
		border-radius 50%
		color rgba(#deecfb,1)
		font-size 1.2em
		height 50px
		line-height 2.1em
		position fixed
		left 20px
		text-align center
		top 190px 
		width 50px
		z-index 4
		&:after
			content '\e604'
			font-family icono
			font-size .9em
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.disminuir
		background rgba(#1877e9,1)
		border-radius 50%
		color rgba(#deecfb,1)
		font-size 1.2em
		height 50px
		left 20px
		line-height 1.85em
		position fixed
		text-align center
		top 110px 
		width 50px
		z-index 4
		&:after
			content 'a'
			font-size .9em
			font-weight 300
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.vistaCompleta
		color white
		font-weight 400
		position fixed
		left 93px
		top 273px
	.programa
		color white
		font-weight 100
		position fixed
		left 93px
		top 293px
	.mapa
		background rgba(#8f8f8f,1)
		border-radius 50%
		color rgba(white,1)
		font-size 1.2em
		height 50px
		left 20px
		line-height 2.1em
		position fixed
		text-align center
		top 270px 
		width 50px
		z-index 3
		&:before
			content '\e602'
			font-family icono
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.menu
		color rgba(white,.5)
		font-size 1.2em
		height 50px
		line-height 2.2em
		position fixed
		right 7px
		text-align center
		top 7px 
		width 50px
		z-index 7
		transform rotateZ(45deg)
		-ms-transform rotateZ(45deg)
		-webkit-transform rotateZ(45deg)
		&:after
			content '\e607'
			font-family icono
			font-size 1.7em
	.vistaNit
		color white
		font-weight 400
		position fixed
		left 93px
		top 203px
	.social
		.facebook
			top 325px 
			display block
			height 80px
			left 5px
			padding 1.5em 0 0 1em
			position fixed
			width 100%
			z-index 4
		.twitter
			top 355px 
			position fixed
			left 200px
			z-index 4
// @keyframes 

// 		transform rotateZ(-18deg)
// 		-ms-transform rotateZ(-18deg)
// 		-webkit-transform rotateZ(-18deg)

// 		transform translate(0px)
// 		-ms-transform translate(0px)
// 		-webkit-transform translate(0px)
// 		transform translate(0px)
// 		-ms-transform translate(0px)
// 		-webkit-transform translate(0px)
@keyframes animacionDia 
	0% 
		opacity 0
	50%
		opacity 1
	75%
		opacity 1
	100% 
		opacity 1
// @keyframes animacionDia 
// 	0%

@keyframes animacionFosc
	0% 
		opacity 1
	50%
		opacity .1
	75%
		opacity .1
	100% 
		opacity 1
@keyframes animacionMes 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 0
	100% 
		opacity 1
@keyframes animacionNumero 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 1
	100% 
		opacity 1
























