
header
	width 100%
	overflow-x hidden
	overflow-y hidden
	position relative	
	.botonera
		height auto
		overflow-x auto
		overflow-y hidden
		padding 10px 20px 0 10px 
		position absolute
		top 220px
		white-space nowrap
		width 100%
		ul
			.dia 
				@css {
					background: rgb(224,224,222);
					background: -moz-linear-gradient(left,  rgba(224,224,222,1) 24%, rgba(184,183,181,1) 100%);
					background: -webkit-gradient(linear, left top, right top, color-stop(24%,rgba(224,224,222,1)), color-stop(100%,rgba(184,183,181,1)));
					background: -webkit-linear-gradient(left,  rgba(224,224,222,1) 24%,rgba(184,183,181,1) 100%);
					background: -o-linear-gradient(left,  rgba(224,224,222,1) 24%,rgba(184,183,181,1) 100%);
					background: -ms-linear-gradient(left,  rgba(224,224,222,1) 24%,rgba(184,183,181,1) 100%);
					background: linear-gradient(to right,  rgba(224,224,222,1) 24%,rgba(184,183,181,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0de', endColorstr='#b8b7b5',GradientType=1 );
					}
				border-radius 50%
				box-shadow 0 1px 3px rgba(black,.1)
				display inline-block
				height 65px 
				margin 0 0 0 1em 
				position relative
				width 65px
				-webkit-transition all .3s ease
				transition all .3s ease
				p
					color rgba(secundario,1)
					font-weight 300
					left 32%
					margin 0
					position absolute
					top 7px
				span
					color rgba(secundario,1)
					font-size .85em
					font-weight 300
					left 20%
					letter-spacing 0em
					position absolute
					top 30px
				.centrar
					left 40%
					position absolute
				.centrarMes
					left 27%
					position absolute
				&:hover
					background rgba(black,.5)
					transition all .3s ease
					-webkit-transition all .3s ease
					p
					span
						color white
				&:last-child
					margin 0 3em 0 1em
	.calendari
		color white
		display block
		height 345px
		margin 0 auto
		padding 3em 0 0 0 
		position relative
		width 100%
		z-index -10
		.dia
			font-size 1em
			font-weight 300
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionDia 3s 1
			-webkit-animation animacionDia 3s 1
		.numero
			font-size 4em
			font-weight 100
			margin -.1em 0
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionNumero 3s 1
			-webkit-animation animacionNumero 3s 1
		.mes
			font-size 1em
			font-weight 300
			text-align center
			text-shadow 0 1px 3px rgba(black,.4)
			animation animacionMes 3s 1
			-webkit-animation animacionMes 3s 1
	.eventActual
		background rgba(white,.08)
		border-top 1px solid rgba(white,.2)
		color white
		display block
		font-size .9em
		font-weight 100
		height auto
		padding .7em 1em 1.2em 1em
		position relative
		z-index -3
		.contingutEventActual
			animation animacionLlista 3s 1
			-webkit-animation animacionLlista 3s 1
			.event
				color rgba(white,1)
				display block
				font-size .9em
				font-weight 400
				letter-spacing .055em
				line-height 1.2em
				margin 0 auto
				padding .7em 0 .2em 0
				text-align center
				width 90%
				.lloc
					color rgba(white,.5)
					font-size .7em
					letter-spacing .13em
					margin .5em 0 0 0 
					text-transform uppercase
					p
						&:after
							content '\e605'
							font-family icono
			.hora
				color white
				display block
				font-size .9em
				font-weight 400
				margin 0 auto
				text-align center
				width 100px
				p
					&:after
						content 'h'

		.titol
			color rgba(white,1)
			font-size .8em
			font-weight 400
			left 12px
			position absolute
			text-transform uppercase
			top -25px
section
	margin 0 0 100px 0
	display block
	.llistaVisible
		padding 1em 0 0 0 
		animation animacionLlista .3s 1
		-webkit-animation animacionLlista .3s 1
		.event
			margin 0 .5em 1.8em 1.5em
			.detall
				border-bottom 3px solid rgba(white,1)
				padding 0 0 .2em .25em
				.horaEvent
					float left
					width 100%
					color white
					display block
					float left
					font-size .65em
					font-weight 300
					margin -1px 10px 0 -5px
					p
						&:after
							content 'h'
				.lloc
					color rgba(black,.4)
					font-size .6em
					font-weight 300
					letter-spacing .20em
					text-transform uppercase
					p
						&:after
							content '\e605'
							font-family icono
			.contingut
				margin 1em 0 0 0 
				
				.titolEvent
					color rgba(white,1)
					font-size .9em
					font-weight 400
					margin -.7em 1.8em .7em .1em
					position relative
					p
						&:after
							content '\e606'
							font-family icono
							font-size 1.2em
							position absolute 
							right -33px
							top 0px
				.detallEvent
					display none
					width 107%
					font-size .8em
					font-weight 300
					margin 1em -1em 0em 1em
					p
						&:after
							display none
		.centrar
			display block
			text-align center
			.anarInici
				-ms-transform rotateZ(180deg)
				-webkit-transform rotateZ(180deg)
				background rgba(black,.1)
				border-radius 50%
				color white
				display inline-block
				height 50px
				line-height 2.7em
				transform rotateZ(180deg)
				width 50px
				&:after
					content '\e606'
					font-family icono
					font-size 1.5em
		// .preFestes
		// 	background rgba(#ffeb80,1)
		// 	display block
		// 	height 23px
		// 	margin 0 0 1em 0
		// 	animation animacionPreFestes 10s 1
		// 	-webkit-animation animacionPreFestes 10s 1
		// 	p
		// 		color #957c38
		// 		font-size .6em
		// 		font-weight 400
		// 		line-height 1.8em
		// 		text-align center
		// 		text-transform uppercase
	.llistaInvisible
		display none
.bg 
	@css {
		background: rgb(55,145,189);
		background: -moz-linear-gradient(top,  rgba(55,145,189,1) 37%, rgba(89,161,198,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,rgba(55,145,189,1)), color-stop(100%,rgba(89,161,198,1)));
		background: -webkit-linear-gradient(top,  rgba(55,145,189,1) 37%,rgba(89,161,198,1) 100%);
		background: -o-linear-gradient(top,  rgba(55,145,189,1) 37%,rgba(89,161,198,1) 100%);
		background: -ms-linear-gradient(top,  rgba(55,145,189,1) 37%,rgba(89,161,198,1) 100%);
		background: linear-gradient(to bottom,  rgba(55,145,189,1) 37%,rgba(89,161,198,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3791bd', endColorstr='#59a1c6',GradientType=0 );
        }
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index -20
.boto
	.ajustos
	.facebook
	.programa
	.twitter
	.vistaCompleta
	.vistaNit
		display none
	.menu
		border-radius 50%
		bottom 15px 
		color rgba(black,.5)
		height 50px
		line-height 2.2em
		padding 1em
		position fixed
		right 10px
		font-size 1em
		text-align center
		width 50px
		z-index 10
		animation animacionBoto .2s 1
		-webkit-animation animacionBoto .2s 1
		&:after
			content '\e600'
			font-family icono
			font-size 1.3em
.efectos
	height 1200px
	width 100%
	overflow-x hidden
	overflow-y hidden
	position absolute
	.bgHeader
		@css{
			background: rgb(34,118,159);
			background: -moz-linear-gradient(top,  rgba(34,118,159,1) 0%, rgba(119,179,206,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,118,159,1)), color-stop(100%,rgba(119,179,206,1)));
			background: -webkit-linear-gradient(top,  rgba(34,118,159,1) 0%,rgba(119,179,206,1) 100%);
			background: -o-linear-gradient(top,  rgba(34,118,159,1) 0%,rgba(119,179,206,1) 100%);
			background: -ms-linear-gradient(top,  rgba(34,118,159,1) 0%,rgba(119,179,206,1) 100%);
			background: linear-gradient(to bottom,  rgba(34,118,159,1) 0%,rgba(119,179,206,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22769f', endColorstr='#77b3ce',GradientType=0 );
			}
		position absolute 
		z-index -15
		top 0
		width 100%
		height 478px
	.moverDestellos
		position absolute
		top 30px
		left 50px
		animation animacionMoverDestellos 20s infinite
		-webkit-animation animacionMoverDestellos 20s infinite
		.destellos
			// background rgba(red,.2)
			height 600px
			transform rotateZ(-18deg)
			-ms-transform rotateZ(-18deg)
			-webkit-transform rotateZ(-18deg)
			animation animacionDestellos 20s infinite
			-webkit-animation animacionDestellos 20s infinite
			.destello1
				background rgba(white,.1)
				border-radius 50%
				height 50px
				left 30px
				position absolute
				top 0px
				width 50px
				-webkit-filter blur(1px)
				animation animacionDestello1 30s infinite
				-webkit-animation animacionDestello1 30s infinite
			.destello2
				background rgba(white,.1)
				border-radius 50%
				height 35px
				left 40px
				position absolute
				top 100px
				width 35px
				animation animacionDestello2 30s infinite
				-webkit-animation animacionDestello2 30s infinite
			.destello3
				background rgba(white,.1)
				border-radius 50%
				height 20px
				left 49px
				position absolute
				top 150px
				width 20px
				-webkit-filter blur(1px)
				animation animacionDestello3 30s infinite
				-webkit-animation animacionDestello3 30s infinite
			.destello4 
				background rgba(white,.1)
				border-radius 50%
				height 75px
				left 25px
				position absolute
				top 220px
				width 75px
				animation animacionDestello4 30s infinite
				-webkit-animation animacionDestello4 30s infinite
			.destello5
				background rgba(white,.1)
				height 55px
				left 12px
				position relative
				top 330px
				width 100px
				transform scale(.65, .65)
				-ms-transform scale(.65, .65)
				-webkit-transform scale(.65, .65)
				-webkit-filter blur(2px)
				animation animacionDestello5 30s infinite
				-webkit-animation animacionDestello5 30s infinite
				&:before 
					content ''
					position absolute
					top -25px
					left 0
					width 0
					height 0
					border-left 50px solid transparent
					border-right 50px solid transparent
					border-bottom 25px solid rgba(white,.1)
				&:after 
					content ''
					position absolute
					bottom -25px
					left 0
					width 0
					height 0
					border-left 50px solid transparent
					border-right 50px solid transparent
					border-top 25px solid rgba(white,.1)
	.nubes
		height 350px
		width 100%
		position relative
		.nube1
			background-image url(../img/nube1.png)
			background-repeat no-repeat
			background-size 250px auto
			height 188px
			right -30%
			top 120px
			position absolute
			width 292px
			z-index -10
			animation animacionNube1 190s infinite
			-webkit-animation animacionNube1 190s infinite
		.nube2
			background-image url(../img/nube2.png)
			background-repeat no-repeat
			background-size 158px auto
			height 115px
			left 0%
			position absolute
			width 158px
			z-index -3
			animation animacionNube2 15s 1
			-webkit-animation animacionNube2 15s 1
		.nube3
			background-image url(../img/nube3.png)
			background-repeat no-repeat
			background-size 84px auto
			height 115px
			top 70px
			left 280px
			position absolute
			width 158px
			z-index -3
			animation animacionNube3 280s infinite
			-webkit-animation animacionNube3 280s infinite
	.rayos
		height 1200px
		width 100%
		overflow-x hidden
		overflow-y hidden
		position absolute
		top 0
		.rayo1 
			border-top 5px solid transparent
			border-bottom 5px solid transparent
			border-left 400px solid white
			border-right 0px solid transparent
			left -100px
			position absolute
			top 100px
			z-index -5
			transform rotateZ(43deg)
			-ms-transform rotateZ(43deg)
			-webkit-transform rotateZ(43deg)
			-webkit-filter: blur(3px);
			animation animacionRayo1 8s infinite
			-webkit-animation animacionRayo1 8s infinite
		.rayo2 
			border-top 3px solid transparent
			border-bottom 3px solid transparent
			border-left 250px solid white
			border-right 0px solid transparent
			left -100px
			position absolute
			top 100px
			z-index -5
			transform rotateZ(75deg)
			-ms-transform rotateZ(75deg)
			-webkit-transform rotateZ(75deg)
			-webkit-filter: blur(3px);
			animation animacionRayo2 6s infinite
			-webkit-animation animacionRayo2 6s infinite
		.rayo3 
			border-top 3px solid transparent
			border-bottom 3px solid transparent
			border-left 220px solid white
			border-right 0px solid transparent
			left 0px
			position absolute
			top 25px
			z-index -5
			transform rotateZ(3deg)
			-ms-transform rotateZ(3deg)
			-webkit-transform rotateZ(3deg)
			-webkit-filter: blur(3px);
			animation animacionRayo3 10s infinite
			-webkit-animation animacionRayo3 10s infinite
		.rayo4
			border-top 30px solid transparent
			border-bottom 10px solid transparent
			border-left 2000px solid white
			border-right 0px solid transparent
			left -600px
			position absolute
			top 700px
			z-index -5
			transform rotateZ(240deg)
			-ms-transform rotateZ(240deg)
			-webkit-transform rotateZ(240deg)
			-webkit-filter: blur(3px);
			animation animacionRayo4 5s infinite
			-webkit-animation animacionRayo4 5s infinite
		.rayo4a
			border-top 65px solid transparent
			border-bottom 50px solid transparent
			border-left 2000px solid white
			border-right 0px solid transparent
			left -576px
			position absolute
			top 700px
			z-index -6
			transform rotateZ(240deg)
			-ms-transform rotateZ(240deg)
			-webkit-transform rotateZ(240deg)
			-webkit-filter: blur(8px);
			animation animacionRayo4 5s infinite
			-webkit-animation animacionRayo4 5s infinite
		.rayo5
			border-top 10px solid transparent
			border-bottom 20px solid transparent
			border-left 1900px solid white
			border-right 0px solid transparent
			left -770px
			position absolute
			top 800px
			z-index -5
			transform rotateZ(260deg)
			-ms-transform rotateZ(260deg)
			-webkit-transform rotateZ(260deg)
			-webkit-filter: blur(6px);
			animation animacionRayo5 8s infinite
			-webkit-animation animacionRayo5 8s infinite
		.rayo5a
			border-top 120px solid transparent
			border-bottom 20px solid transparent
			border-left 1900px solid rgba(white,1)
			border-right 0px solid transparent
			left -790px
			position absolute
			top 800px
			z-index -5
			transform rotateZ(258deg)
			-ms-transform rotateZ(258deg)
			-webkit-transform rotateZ(258deg)
			-webkit-filter: blur(10px);
			animation animacionRayo5 8s infinite
			-webkit-animation animacionRayo5 8s infinite
		.rayo6
			border-top 10px solid transparent
			border-bottom 3px solid transparent
			border-left 2000px solid white
			border-right 0px solid transparent
			left -860px
			position absolute
			top 350px
			z-index -5
			transform rotateZ(250deg)
			-ms-transform rotateZ(250deg)
			-webkit-transform rotateZ(250deg)
			-webkit-filter: blur(1px);
			animation animacionRayo6 9s infinite
			-webkit-animation animacionRayo6 9s infinite
		.rayo6a
			border-top 10px solid transparent
			border-bottom 3px solid transparent
			border-left 1000px solid white
			border-right 0px solid transparent
			left -150px
			position absolute
			top 240px
			z-index -5
			transform rotateZ(215deg)
			-ms-transform rotateZ(215deg)
			-webkit-transform rotateZ(215deg)
			-webkit-filter: blur(1px);
			animation animacionRayo6 11s infinite
			-webkit-animation animacionRayo6 11s infinite
		.rayo7
			border-top 10px solid transparent
			border-bottom 3px solid transparent
			border-left 2500px solid rgba(white,.7)
			border-right 0px solid transparent
			left -1220px
			position absolute
			top 350px
			z-index -5
			transform rotateZ(265deg)
			-ms-transform rotateZ(265deg)
			-webkit-transform rotateZ(265deg)
			-webkit-filter: blur(6px);
			animation animacionRayo6 6s infinite
			-webkit-animation animacionRayo6 6s infinite
		.rayo8
			border-top 60px solid transparent
			border-bottom 50px solid transparent
			border-left 1200px solid rgba(white,.7)
			border-right 0px solid transparent
			left -549px
			position absolute
			top 490px
			z-index -5
			transform rotateZ(265deg)
			-ms-transform rotateZ(265deg)
			-webkit-transform rotateZ(265deg)
			-webkit-filter: blur(10px);
			animation animacionRayo6 6s infinite
			-webkit-animation animacionRayo6 6s infinite
	.sol
		background-image url(../img/sol.png)
		background-size 350px auto
		height 350px
		left -150px
		position absolute
		top -150px
		width 350px
		z-index -4
.botoOn
	background rgba(black,.7)
	bottom 0
	height 100%
	left 0
	position fixed
	right 0
	top 0
	width 100%
	z-index 3
	animation animacionBoto .4s 1
	-webkit-animation animacionBoto .4s 1
	.ajustos
		color white
		display block
		font-size 1.3em
		font-weight 400
		letter-spacing 1px
		margin 35px auto 0 auto
		p
			text-align center
	.aumentar
		background rgba(#1877e9,1)
		border-radius 50%
		color rgba(#deecfb,1)
		font-size 1.2em
		height 50px
		left 90px
		line-height 1.75em
		position fixed
		text-align center
		top 110px
		width 50px
		z-index 4
		&:after
			content 'a'
			font-size 1.4em
			font-weight 300
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.contraste
		background rgba(#1877e9,1)
		border-radius 50%
		color rgba(#deecfb,1)
		font-size 1.2em
		height 50px
		line-height 2.1em
		position fixed
		left 20px
		text-align center
		top 190px 
		width 50px
		z-index 4
		&:after
			content '\e604'
			font-family icono
			font-size .9em
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.disminuir
		background rgba(#1877e9,1)
		border-radius 50%
		color rgba(#deecfb,1)
		font-size 1.2em
		height 50px
		left 20px
		line-height 1.85em
		position fixed
		text-align center
		top 110px 
		width 50px
		z-index 4
		&:after
			content 'a'
			font-size .9em
			font-weight 300
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.vistaCompleta
		color white
		font-weight 400
		position fixed
		left 93px
		top 273px
	.programa
		color white
		font-weight 100
		position fixed
		left 93px
		top 293px
	.mapa
		background rgba(#8f8f8f,1)
		border-radius 50%
		color rgba(white,1)
		font-size 1.2em
		height 50px
		left 20px
		line-height 2.1em
		position fixed
		text-align center
		top 270px 
		width 50px
		z-index 3
		&:before
			content '\e602'
			font-family icono
		&:hover
			background rgba(iconos,1)
			color white
			-webkit-transition: all .2s;
			transition: all .2s;
	.menu
		color rgba(white,.5)
		font-size 1.2em
		height 50px
		line-height 2.2em
		position fixed
		right 7px
		text-align center
		top 7px 
		width 50px
		z-index 7
		transform rotateZ(45deg)
		-ms-transform rotateZ(45deg)
		-webkit-transform rotateZ(45deg)
		&:after
			content '\e607'
			font-family icono
			font-size 1.7em
	.vistaNit
		color white
		font-weight 400
		position fixed
		left 93px
		top 203px
	.social
		.facebook
			top 325px 
			display block
			height 80px
			left 5px
			padding 1.5em 0 0 1em
			position fixed
			width 100%
			z-index 4
		.twitter
			top 355px 
			position fixed
			left 200px
			z-index 4

@keyframes animacionBoto 
	0% 
		opacity 0
	100% 
		opacity 1
@keyframes animacionDestellos 
	0%
		transform rotateZ(-18deg)
		-ms-transform rotateZ(-18deg)
		-webkit-transform rotateZ(-18deg)
	50%
		transform rotateZ(-33deg)
		-ms-transform rotateZ(-33deg)
		-webkit-transform rotateZ(-33deg)
	100%
		transform rotateZ(-18deg)
		-ms-transform rotateZ(-18deg)
		-webkit-transform rotateZ(-18deg)
@keyframes animacionMoverDestellos
	0%
		transform translate(0px)
		-ms-transform translate(0px)
		-webkit-transform translate(0px)
	50%
		transform translate(50px, -50px)
		-ms-transform translate(50px, -50px)
		-webkit-transform translate(50px, -50px)

	100%
		transform translate(0px)
		-ms-transform translate(0px)
		-webkit-transform translate(0px)
@keyframes animacionDestello1
	0%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .2
	25%
		transform translate(0, 90px)
		-ms-transform translate(0, 90px)
		-webkit-transform translate(0, 90px)
		opacity .4
	50%
		transform translate(0, 150px)
		-ms-transform translate(0, 150px)
		-webkit-transform translate(0, 150px)
		opacity .8
	75%
		transform translate(0, 90px)
		-ms-transform translate(0, 90px)
		-webkit-transform translate(0, 90px)
		opacity 1
	100%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .2
@keyframes animacionDestello2
	0%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .2
	25%
		transform translate(0, 80px)
		-ms-transform translate(0, 80px)
		-webkit-transform translate(0, 80px)
		opacity .5
	50%
		transform translate(0, 130px)
		-ms-transform translate(0, 130px)
		-webkit-transform translate(0, 130px)
		opacity .7
	75%
		transform translate(0, 90px)
		-ms-transform translate(0, 90px)
		-webkit-transform translate(0, 90px)
		opacity 1
	100%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .2
@keyframes animacionDestello3
	0%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .6
	25%
		transform translate(0, 65px)
		-ms-transform translate(0, 65px)
		-webkit-transform translate(0, 65px)
		opacity 1
	50%
		transform translate(0, 160px)
		-ms-transform translate(0, 160px)
		-webkit-transform translate(0, 160px)
		opacity .3
	75%
		transform translate(0, 100px)
		-ms-transform translate(0, 100px)
		-webkit-transform translate(0, 100px)
		opacity .7
	100%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .6
@keyframes animacionDestello4
	0%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .3
	25%
		transform translate(0, 80px)
		-ms-transform translate(0, 80px)
		-webkit-transform translate(0, 80px)
		opacity .6
	50%
		transform translate(0, 130px)
		-ms-transform translate(0, 130px)
		-webkit-transform translate(0, 130px)
		opacity 1
	75%
		color rgba(#dda0dd,.1)
		transform translate(0, 90px)
		-ms-transform translate(0, 90px)
		-webkit-transform translate(0, 90px)
		opacity .6
	100%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .3
@keyframes animacionDestello5
	0%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		transform rotateZ(60deg)
		-ms-transform rotateZ(60deg)
		-webkit-transform rotateZ(60deg)
		opacity .3
	25%
		transform translate(0, 80px)
		-ms-transform translate(0, 80px)
		-webkit-transform translate(0, 80px)
		opacity .6
	50%
		transform translate(0, 170px)
		-ms-transform translate(0, 170px)
		-webkit-transform translate(0, 170px)
		opacity 1
	75%
		transform translate(0, 170px)
		-ms-transform translate(0, 170px)
		-webkit-transform translate(0, 170px)

		opacity .6
	100%
		transform translate(0, 0px)
		-ms-transform translate(0, 0px)
		-webkit-transform translate(0, 0px)
		opacity .3
@keyframes animacionDia 
	0% 
		opacity 0
	50%
		opacity 1
	75%
		opacity 1
	100% 
		opacity 1
@keyframes animacionLlista
	0% 
		opacity 0
	100% 
		opacity 1
@keyframes animacionMes 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 0
	100% 
		opacity 1
@keyframes animacionNumero 
	0% 
		opacity 0
	50%
		opacity 0
	75%
		opacity 1
	100% 
		opacity 1
@keyframes animacionNube1
	0% 
		opacity 0
		transform translate(0, 0)
		-ms-transform translate(0, 0)
		-webkit-transform translate(0, 0)
	5%
		opacity 1

	100% 
		transform translate(-400px, 0)
		-ms-transform translate(-400px, 0)
		-webkit-transform translate(-400px, 0)
@keyframes animacionNube2
	0% 
		opacity 0
	50%
		opacity 1
	75%
		opacity 1
	100% 
		opacity 1
@keyframes animacionNube3
	0% 
		opacity 0
		transform translate(0, 0)
		-ms-transform translate(0, 0)
		-webkit-transform translate(0, 0)
	5%
		opacity .5

	100% 
		transform translate(-360px, 0)
		-ms-transform translate(-360px, 0)
		-webkit-transform translate(-360px, 0)
@keyframes animacionRayo1 
	0% 
		opacity .15
	25% 
		opacity 0
	50%
		opacity 0
	75%
		opacity .1
	100% 
		opacity .15
@keyframes animacionRayo2
	0% 
		opacity .15
	25% 
		opacity 0
	50%
		opacity 0
	75%
		opacity .1
	100% 
		opacity .15
@keyframes animacionRayo3 
	0% 
		opacity .3
	25% 
		opacity .2
	50%
		opacity 0
	75%
		opacity .1
	100% 
		opacity .3
@keyframes animacionRayo4 
	0% 
		opacity 0
	25% 
		opacity 0
	50%
		opacity 0
	75%
		opacity .05
	100% 
		opacity 0
@keyframes animacionRayo5
	0% 
		opacity 0
	25% 
		opacity 0.01
	50%
		opacity 0
	75%
		opacity .05
	100% 
		opacity 0
@keyframes animacionRayo6 
	0% 
		opacity 0
	25% 
		opacity 0
	50%
		opacity .08
	75%
		opacity .02
	100% 
		opacity 0	
		










